@use '../utilities/utility-layout' as *;

screen-save-load {
	.screen-save__frame {
		max-width: pixels(1750);
		max-height: pixels(1080);
	}

	p {
		text-align: center;
		max-width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.screen-save__sort-dropdow-container {
		height: calc(pixels(40) + 1rem);
	}

	.screen-save__description__scrollable {
		.fxs-scrollbar__track--vertical {
			right: pixels(-18);
		}
	}

	.screen-save__frame {
		max-width: pixels(1750);
	}
}