@use '../../utilities/utility-layout' as *;
.test_hud-container {
	width: 100vw;
	height: 100vh;
	background-color: darkgrey;

	&.radial-mode {
		background-color: rgb(64, 62, 63);

		.test_radial-indicator {
			opacity: 1;
		}
	}
}

.test_radial-indicator {
	width: pixels(96);
	height: pixels(96);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-width: pixels(8);
	border-color: black;
	border-style: solid;
	opacity: 0;
}

.test_radial-dot {
	width: pixels(8);
	height: pixels(8);
	border-radius: 50%;
	background-color: red;
	position: absolute;
	top: pixels(-12);
	left: pixels(-12);
	transform: translateX(pixels(48)) translateY(pixels(48));
}

.test_subsystem-container {
	position: absolute;
	display: flex;

	align-items: center;
	padding-right: pixels(24);
	transform: scale(1);
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);

	&.bottom-left {
		flex-direction: row;
		justify-content: flex-end;
		height: pixels(96);
		width: 50vw;
		bottom: 0;
		left: 0;
		transform-origin: 100% 100%;

		.test_progress-bar {
			top: pixels(-48);
			right: pixels(0);
		}
	}

	&.bottom-right {
		flex-direction: row;
		justify-content: flex-start;
		height: pixels(96);
		width: 50vw;
		bottom: 0;
		right: 0;
		transform-origin: 0% 100%;

		.test_progress-bar {
			top: pixels(-48);
			left: pixels(0);
		}
	}

	&.top-left {
		flex-direction: row;
		justify-content: flex-start;
		height: pixels(96);
		width: 50vw;
		top: 0;
		left: 0;
		transform-origin: 0% 0%;

		.test_progress-bar {
			bottom: pixels(-48);
			left: pixels(48);
		}

		.test_subsystem-item {
			transform-origin: 50% 0%;
		}
	}

	&.top-right {
		flex-direction: row;
		justify-content: flex-end;
		height: pixels(96);
		width: 50vw;
		top: 0;
		right: 0;
		transform-origin: 100% 0%;

		.test_progress-bar {
			bottom: pixels(-48);
			right: pixels(48);
		}

		.test_subsystem-item {
			width: pixels(24);
			height: pixels(24);
			transform-origin: 50% 0%;
		}
	}

	&.center-left {
		flex-direction: column;
		justify-content: center;
		height: 50vh;
		width: pixels(96);
		top: 25vh;
		left: 0;
		transform-origin: 0% 50%;

		.test_progress-bar {
			left: pixels(120);
			top: pixels(0);
			transform: rotate(90deg);
		}

		.test_subsystem-item {
			margin-bottom: pixels(24);
			transform-origin: 0% 50%;
		}
	}

	&.center-right {
		flex-direction: column;
		justify-content: center;
		height: 50vh;
		width: pixels(96);
		top: 25vh;
		right: 0;
		transform-origin: 100% 50%;

		.test_progress-bar {
			right: pixels(120);
			top: pixels(0);
			transform-origin: 100% 50%;
			transform: rotate(-90deg);
		}

		.test_subsystem-item {
			height: pixels(24);
			margin-bottom: pixels(6);
			transform-origin: 100% 50%;
		}
	}

	&.hud-select {
		transform: scale(1.125);

		// .test_progress-bar {
		// 	opacity: 1;
		// }
	}


}

.test_subsystem-item {
	position: relative;
	height: pixels(72);
	width: pixels(72);
	margin-left: pixels(24);
	background-color: blue;
	transform-origin: 50% 100%;
	transform: scale(1);
	transition-property: background-color, transform;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);

	&:focus {
		background-color: white;
		transform: scale(1.125);
	}

	&.focused {
		background-color: white;
		transform: scale(1.125);
	}
}

.test_progress-bar {
	position: absolute;
	width: pixels(192);
	height: pixels(24);
	background-color: black;
	opacity: 0;
	transform-origin: 0% 50%;
}

.test_progress-bar-meter {
	position: absolute;
	top: 0;
	right: 0;
	width: 0%;
	height: 100%;
	background-color: white;
}