@use '../../utilities/utility-colormatrix' as *;


$base-color: rgb(44, 42, 43);
$base-dark-color: rgb(39, 37, 38);
$base-darker-color: rgb(34, 32, 33);
$base-color-10-lighter: rgb(53, 51, 52);
$base-medium-color: rgb(62, 61, 59);
$base-light-color: rgb(79, 78, 77);
$base-lighter-color: rgb(155, 151, 153);

$accent-color: rgb(120, 98, 74);
$accent-medium-color: rgb(93, 77, 60);
$accent-dark-color: rgb(66, 56, 46);
$accent-deep-color: rgb(51, 38, 19);

$second-color: rgb(209, 181, 133);
$second-light-color: rgb(218, 191, 146);
$second-dark-color: rgb(193, 165, 123);
$second-darker-color: rgb(130, 112, 85);

$highlight-color: rgb(255, 228, 184);

$third-color: rgb(204, 188, 163);
$third-dark-color: rgb(179, 158, 128);
$third-darker-color: rgb(218, 213, 209);
$third-light-color: rgb(217, 199, 173);

$primary-color: #333;

$full-health-color: rgb(74, 160, 66);
$med-health-color: rgba(255, 196, 0, 0.925);
$low-health-color: rgb(136, 41, 47);

$victory-color: rgb(40, 95, 35);
$stalemate-color: rgb(116, 107, 92);
$defeat-color: rgb(136, 41, 47);

$radial-menu-focus-color: rgb(239, 211, 174);

$black-color-matrix: toMatrix(rgb(0, 0, 0));
$white-color-matrix: toMatrix(rgb(255, 255, 255));

$base-color-matrix: toMatrix($base-color);
$base-lighter-color-matrix: toMatrix($base-lighter-color);

$second-color-matrix: toMatrix($second-color);
$second-dark-color-matrix: toMatrix($second-dark-color);
$second-darker-color-matrix: toMatrix($second-darker-color);

$highlight-color-matrix: toMatrix($highlight-color);

$accent-color-matrix: toMatrix($accent-color);
$accent-medium-color-matrix: toMatrix($accent-medium-color);
$accent-dark-color-matrix: toMatrix($accent-dark-color);
$accent-deep-color-matrix: toMatrix($accent-deep-color);

$third-color-matrix: toMatrix($third-color);
$third-dark-color-matrix: toMatrix($third-dark-color);
$third-darker-color-matrix: toMatrix($third-darker-color);
$third-light-color-matrix: toMatrix($third-light-color);

$test-red-matrix: toMatrix(rgb(138, 38, 13));