@use '../../utilities/utility-layout' as *;

.filigree-panel-top-left {
	border-image-source: url("fs://game/hud_metaltop.png");
	border-image-slice: 1 32 31 128 fill;
	border-image-width: pixels(1) pixels(32) pixels(31) pixels(128);
	min-width: pixels(192);
	min-height: pixels(32);
}

.filigree-panel-top-right {
	border-image-source: url("fs://game/hud_metaltop.png");
	border-image-slice: 1 32 31 128 fill;
	border-image-width: pixels(1) pixels(32) pixels(31) pixels(128);
	min-width: pixels(192);
	min-height: pixels(32);
	transform: scaleX(-1);
}

.filigree-panel-top-circle {
	border-image-source: url('fs://game/hud_advisor-title_decoration.png');
	border-image-slice: 126 208 1 24 fill;
	border-image-outset: 0 pixels(6) pixels(2) 0;
	border-image-width: pixels(126) pixels(208) pixels(1) pixels(24);
	height: pixels(120);
	min-width: pixels(128);

	@media (max-height: pixels(1000)) {
		height: pixels(72);
		border-image-outset: 0 pixels(4) pixels(2) 0;
	}
}

.filigree-panel-top-simplified {
	border-image-source: url("fs://game/hud_paneltop-simple.png");
	border-image-slice: 1 60 1 60 fill;
	border-image-width: pixels(1) pixels(60) pixels(1) pixels(60);
	min-width: pixels(128);
	min-height: pixels(16);
}

.filigree-panel-top-pedia {
	border-image-source: url("fs://game/pedia_top_header.png");
	border-image-slice: 10 12 10 12 fill;
	border-image-width: pixels(10) pixels(12) pixels(10) pixels(12);
	border-image-outset: pixels(0) pixels(18) pixels(0) pixels(18);
	min-width: pixels(256);
	min-height: pixels(54);
}

.filigree-panel-top-special {
	background: url("fs://game/hud_paneltop-special.png");
	background-size: cover;
	min-width: pixels(448);
	min-height: pixels(64);
}

.filigree-divider-h1 {
	border-image: url("fs://game/header_filigree.png");
	border-image-slice: 62 238 1 238 fill;
	border-image-width: pixels(62) pixels(238) pixels(1) pixels(238);
	width: 100%;
	min-width: pixels(512);
	height: pixels(88);
}

.filigree-divider-h2 {
	background: url("fs://game/hud_divider-h2.png");
	background-size: cover;
	min-width: pixels(448);
	min-height: pixels(32);
}

.filigree-divider-h3 {
	background: url("fs://game/hud_sidepanel_divider.png");
	background-size: cover;
	min-width: pixels(256);
	min-height: pixels(48);
}

.filigree-divider-inner-frame {
	min-width: pixels(65);
	min-height: pixels(2);
	background: linear-gradient(90deg, rgba(55, 55, 55, 0) 0%, rgba(55, 55, 55, 0.7) 50%, rgba(55, 55, 55, 0) 100%);
	margin: pixels(6) 0;

	&.white-filigree-divider {
		background: linear-gradient(90deg, rgba(200, 200, 200, 0) 0%, rgba(200, 200, 200, 0.7) 50%, rgba(200, 200, 200, 0) 100%);
	}

	&.tooltip-filigree-divider {
		background: linear-gradient(90deg, rgba(200, 200, 200, 0) 0%, rgba(140, 150, 165, 1) 50%, rgba(200, 200, 200, 0) 100%);
	}
}

.filigree-h4-left {
	background: url("fs://game/hud_fleur.png");
	background-size: contain;
	min-width: pixels(32);
	min-height: pixels(16);
	transform: scaleX(-1);
}

.filigree-h4-right {
	background: url("fs://game/hud_fleur.png");
	background-size: contain;
	min-width: pixels(32);
	min-height: pixels(16);
}

.filigree-inner-frame-top {
	border-image: url("fs://game/hud_section-line.png");
	border-image-slice: 15 32 1 32 fill;
	border-image-width: pixels(15) pixels(32) pixels(1) pixels(32);
	margin-left: pixels(-7);
	margin-right: pixels(-7);
	min-width: pixels(64);
	min-height: pixels(16);
}

.filigree-inner-frame-top-gold {
	border-image: url("fs://game/hud_section-line_gold.png");
	border-image-slice: 15 32 1 32 fill;
	border-image-width: pixels(15) pixels(32) pixels(1) pixels(32);
	margin-left: pixels(-7);
	margin-right: pixels(-7);
	min-width: pixels(64);
	min-height: pixels(16);
}

.filigree-inner-frame-bottom {
	border-image: url("fs://game/hud_section-line.png");
	border-image-slice: 15 32 1 32 fill;
	border-image-width: pixels(15) pixels(32) pixels(1) pixels(32);
	transform: scaleY(-1);
	margin-left: pixels(-7);
	margin-right: pixels(-7);
	min-width: pixels(64);
	min-height: pixels(16);
}

.filigree-inner-frame-bottom-gold {
	border-image: url("fs://game/hud_section-line_gold.png");
	border-image-slice: 15 32 1 32 fill;
	border-image-width: pixels(15) pixels(32) pixels(1) pixels(32);
	transform: scaleY(-1);
	margin-left: pixels(-7);
	margin-right: pixels(-7);
	min-width: pixels(64);
	min-height: pixels(16);
}

.filigree-shell-small {
	background-image: url("fs://game/shell_small-filigree.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: pixels(364);
	height: pixels(17);
}