@use '../../utilities/utility-layout' as *;
@use '../../utilities/utility-text' as *;
@use '_baseColors.scss';

$bColorize: false; //debug color toggle 

// CORE  SLOTS: ----------------------

fxs-slot {
	pointer-events: none;
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
}

fxs-hslot {
	pointer-events: none;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

fxs-vslot {
	pointer-events: none;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.fxs-slot-target {
	position: absolute;
	width: 100%;
	height: 100%;
}

.sidepanel {
	position: absolute;
	top: 0;
	height: 100%;
	width: pixels(480); //Default optimal size that this will usually be seen at 
	max-width: 45vh;

	&.expanded {
		max-width: 100%;
		width: 80%;
	}

	&.max {
		max-width: 100%;
		width: 100%;
	}
}

.sidepanel.left_panel {
	left: 0;
	transform: translateX(0%);
}

.sidepanel.left_panel.empty {
	transform: translateX(-110%);
}

.sidepanel.right_panel {
	transform-origin: 0% 0%;
	right: 0;
	transform: translateX(0%);
}

.sidepanel.right_panel.empty {
	transform: translateX(110%);
}

// -------------------------------------
// SLOT ANCHORING ----------------------

.screen {
	width: 100%;
	height: 100%;

	padding-top: var(--safezone-top);
	padding-bottom: var(--safezone-bottom);
	padding-left: var(--safezone-left);
	padding-right: var(--safezone-right);
}

.harness {
	pointer-events: none;
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;

	&.radial-menu-mode {
		border: pixels(20) solid transparent;
	}

	>.top {
		top: 0;
	}

	>.left {
		left: 0;
	}

	>.bottom {
		bottom: 0;
		display: flex;
		align-content: flex-end;
	}

	>.right {
		right: 0;

		>.div {
			right: 0;
		}
	}

	>.center-abs,
	>.middle.center {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	>.center-v,
	>.middle {
		top: 50%;
		transform: translate(-0%, -50%);
	}

	>.center-h,
	>.center {
		left: 50%;
		transform: translate(-50%, 0%);
	}

	// DEBUGGING STYLES:  ---------------------------
	@if($bColorize) {

		$slotColor: orange;
		border: pixels(2) solid $slotColor;
		background-color: rgba($slotColor, 0.75);

		>.top {
			$slotColor: green;
			border: pixels(2) solid $slotColor;
			background-color: rgba($slotColor, 0.5);
		}

		>.left {
			$slotColor: red;
			border: pixels(2) solid $slotColor;
			background-color: rgba($slotColor, 0.5);
		}

		>.bottom {
			$slotColor: cyan;
			border: pixels(2) solid $slotColor;
			background-color: rgba($slotColor, 0.5);
		}

		>.right {
			$slotColor: yellow;
			border: pixels(2) solid $slotColor;
			background-color: rgba($slotColor, 0.5);
		}

		>.middle {
			$slotColor: magenta;
			border: pixels(2) solid $slotColor;
			background-color: rgba($slotColor, 0.5);
		}

		>.center {
			$slotColor: pink;
			border: pixels(2) solid $slotColor;
			background-color: rgba($slotColor, 0.5);
		}

		// stylelint-disable-next-line selector-disallowed-list -- debug only
		* {
			&:hover {
				border: pixels(2) solid white;
			}
		}
	}

	// END DEBUG STYLES -----------------------

}