@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/utilities/utility-shapes' as shapes;
@use '../../../core/ui/themes/default/baseColors.scss';
@use '../../../core/ui/themes/default/theme';

.player-yields-report {
	top: pixels(20);
	bottom: pixels(20);
	left: pixels(70);
	right: pixels(70);

	@media (max-height: pixels(768)) {
		top: pixels(0);
		bottom: pixels(0);
		left: pixels(0);
		right: pixels(0);
	}

	@media (experience: mobile) {
		position: static;
		width: 100%;
		height: 100%;
	}
}

.yield-report-title-cell {
	flex-grow: 2.5;
}