@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/themes/default/_baseColors.scss';
@use '../../../core/ui/themes/default/theme';

.unlocks_header-wrapper {
	@media (experience: mobile) {
		padding-bottom: pixels(16);
	}
}

.unlock__nav {
	@media (experience: mobile) {
		width: 95%;
	}
}

.player-unlock {
	border-image-source: none;

	@media (experience: mobile) {
		padding-top: pixels(20);
	}

	.fxs-close-button {
		@media (experience: mobile) {
			top: pixels(26);
			right: pixels(38);
		}
	}

	.img-frame-filigree {
		@media (experience: mobile) {
			margin-top: pixels(4);	
		}
	}

	.primary-window {
		@media (experience: mobile) {
			margin-left: pixels(56);
			margin-right: pixels(56);
		}
	}
}

.civilizations-scrollable {
	@media (experience: mobile) {
		padding-top: pixels(0);
		padding-bottom: pixels(24);
	}

	.fxs-scrollbar__track--vertical {
		@media (experience: mobile) {
			margin-top: pixels(32);
			margin-bottom: pixels(48);
			right: pixels(-24);
		}
	}
}

.player-unlocks-gradient-overlay {
	border-image-source: url("fs://game/BG_CYC_4K_graded");
	border-image-slice: 28 28 28 28 fill;
}

.main-background-gradient {
	background:
		linear-gradient(180deg, rgba(19, 20, 26, 0.75) 0%, rgba(19, 20, 26, 0) 100%),
		linear-gradient(180deg, rgba(18, 21, 31, 0.85) 0%, rgba(35, 37, 43, 0.425) 100%),
		linear-gradient(180deg, rgba(229, 215, 215, 0) 0%, rgba(230, 215, 215, 0.06) 100%);
}

.main-background-image {
	background-image: url("fs://game/VIC_Economic_EXPL");
}

.ageless-background-gradient {
	background:
		radial-gradient(92.47% 169.83% at -0.36% 0.09%, rgba(18, 21, 31, 0.95) 0%, rgba(20, 23, 33, 0.95) 50%, rgba(26, 29, 37, 0.85) 75%, rgba(35, 37, 43, 0) 100%),
		linear-gradient(162.45deg, #12151F 8.88%, rgba(18, 21, 31, 0) 42.95%);
}

.unlock-frame {
	border-image-source: url("fs://game/hud_sidepanel_list-bg.png");
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 8 8 8 8 fill;
	border-image-width: pixels(8) pixels(8) pixels(8) pixels(8);
	background: linear-gradient(90deg,
			theme.color('primary-5', .9) 30%,
			theme.color('primary-5', 0) 40%,
			theme.color('primary-5', 0) 50%,
			theme.color('primary-5', 1) 100%);
}

.unlock-frame-hover {
	border-image-source: url("fs://game/hud_list-focus_frame");
	border-image-slice: 20 32 20 32;
	border-image-width: pixels(20);
	border-image-outset: pixels(5) pixels(2) pixels(5) pixels(2);
	background: linear-gradient(90deg,
			theme.color('secondary-2', .25) 0%,
			theme.color('secondary-2', 0) 25%,
			theme.color('secondary-2', 0) 75%,
			theme.color('secondary-2', .25) 100%);
}

.screen-unlocks__item p {
	pointer-events: none;
}

// because fxs-checkbox default size is size-8
.unlock__checkbox {
	height: pixels(20);
	width: pixels(20);

	@media (experience: mobile) {
		height: pixels(40);
		width: pixels(40);
		margin-right: pixels(8);
	}
}

.screen-unlock__ageless-header {
	border-bottom: pixels(2) solid;
	border-image-source: linear-gradient(90deg, rgba(166, 166, 166, 0) -1.52%, #A6A6A6 49.24%, rgba(166, 166, 166, 0) 100%);
}

.requirement-text-container p {
	text-align: right;
	flex-grow: 1;
	flex-shrink: 1;
}

.ageless-scrollable-wrapper {
	width: 35%;

	@media (max-height: pixels(1000)) {
		width: 42%;
	}
}