@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use "sass:math";
@use '../../../core/ui/themes/default/baseColors.scss';
@use '../../../core/ui/themes/default/theme';

.screen-diplomacy-action-details {
	@media (experience: mobile) {
		align-items: flex-end;
	}
}

.pledge-slots-container {
	background: linear-gradient(90deg, #C29D53 0%, #4C473D 100%);
	border: pixels(2) solid;
	border-image-source: linear-gradient(180deg, #8C7E62 0%, #4C473D 100%);
	border-image-slice: 10;

	@media (max-height: pixels(1000)) {
		max-width: pixels(450);
	}
}

.remaining-slots-container {
	background: linear-gradient(90deg, #333640 0%, rgba(51, 54, 64, 0.75) 75%, rgba(35, 37, 43, 0.5) 100%);
	box-shadow: pixels(0) pixels(2) pixels(34) pixels(2) rgba(0, 0, 0, 0.5);

	@media (max-height: pixels(1000)) {
		max-width: pixels(450);
	}
}

.panel-diplomacy-project-reaction__icon-container {
	@media (max-height: pixels(1000)) {
		left: pixels(-42);
	}
}

.pledge-support-button {
	@media (max-height: pixels(1000)) {
		margin: pixels(8);
		width: pixels(180);
	}
}

.support-war-content-container {
	@media (max-height: pixels(1000)) {
		margin-left: pixels(20);
	}
}

.support-war-content-container,
.your-war-actions-container {
	.panel-diplomacy-project-reaction__response-item {
		@media (experience: mobile) {
			width: 20%;
			min-width: pixels(300);
		}
	}
}

.panel-diplomacy-project-reaction__response-item-bg,
.panel-diplomacy-project-reaction__response-item-hovered,
.panel-diplomacy-project-reaction__response-item {
	@media (max-height: pixels(1000)) {
		margin-left: 0;
	}

	@media (experience: mobile) {
		margin-left: pixels(12);
		margin-right: pixels(12);
	}
}

.panel-diplomacy-project-reaction__support-yourself {
	background-image: url("fs://game/dip_pod_endeavor.png");
	margin-left: pixels(-21);

	@media (max-height: pixels(720)) {
		margin-left: pixels(-21);
		width: pixels(54);
		height: pixels(54);
		margin-top: pixels(-9);
	}
}

.panel-diplomacy-project-reaction__card-subtitle,
.panel-diplomacy-project-reaction__card-title {
	@media (experience: mobile) {
		width: 96%;
	}
}

.support-your-war-button:focus-within,
.support-your-war-button:hover {
	.panel-diplomacy-project-reaction__support-yourself {
		@media (max-height: pixels(1000)) {
			top: pixels(100);
		}
	}
}

.option-limited-by-war-bg {
	background-image: url("fs://game/dip_warshield_big.png");
}

.remaining-slot {
	@media (max-height: pixels(1000)) {
		width: pixels(16);
	}
}

.diplomacy-action-details-root-vslot {
	width: 50%;

	@media (experience: mobile) {
		width: 96.5%;
		margin-bottom: pixels(10);
	}
}

.title-progress-bar-frame {
	@media (experience: mobile) {
		padding: pixels(18);

		@media (max-height: pixels(1000)) {
			padding-top: pixels(14);
		}
	};
}

.action-content-frame {
	@media (experience: mobile) {
		padding-top: pixels(18);
		padding-left: pixels(44);
		padding-right: pixels(44);
	}
}

.action-name {
	@media (experience: mobile) {
		max-width: 95%;
	}
}

.option-limited-by-war-column {
	@media (experience: mobile) {
		width: 20%;
		min-width: pixels(300);
	}
}

.total-slots-container {
	@media (experience: mobile) {
		height: 40%;
		align-self: center;
	}
}

.left-pledge-group, .right-pledge-group {
	@media (experience: mobile) {
		max-width: 10%;
	}
}

.pledge-values-container {
	@media (experience: mobile) {
		width: 82%;
		margin-top: pixels(-16);
		margin-bottom: pixels(8);
		align-self: center;
	}
}