@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;

.narrative_model__container {
	margin: pixels(172) pixels(0);
	width: pixels(1300);

	@media(max-height:pixels(900)) {
		margin: pixels(80) pixels(0);
		width: pixels(1000);
	}

	.fxs-close-button {
		@media (experience:mobile) {
			top: pixels(10);
			right: pixels(10);
		}
	}
}

.narrative_model__title-container {
	@media(max-height:pixels(900)) {
		padding: pixels(12) pixels(0) pixels(4) pixels(0);
	}
	@media (experience:mobile) {
		padding-left: pixels(70);
		padding-right: pixels(70);
	}
}

.narrative_model__column {
	margin-left: 50%;
}