@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/themes/default/theme';

.screen-narrative-event {
	width: pixels(1000);

	@media(max-height: pixels(768)) {
		max-height: pixels(540);
		margin-top: pixels(80);
	}
}

.narrative-reg__title-text {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.87), 0px 0px 0px rgba(0, 0, 0, 0.9), 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.nar-inner-frame {
	background-color: rgba(0, 0, 0, 0.3);
}

.narrative-reg__content {
	@media(max-height: pixels(768)) {
		padding: pixels(0) pixels(24);
	}
}