@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/_utility-shapes' as shapes;
@use '../../../core/ui/themes/default/baseColors';
@use '../../../core/ui/themes/default/animations';
@use '../../../core/ui/themes/default/theme';

.screen-tech-tree-chooser {
	position: absolute;
	top: pixels(152);
	left: pixels(24);
	bottom: pixels(24);
	min-width: pixels(418);
	pointer-events: auto;
	@media (experience: mobile) {
		bottom: 0;
		top: pixels(55);
	}

	.tech-tree-currently-studying {
		pointer-events: auto;
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: pixels(8);

		.tech-current__empty {
			width: 100%;
			min-height: pixels(64);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.tech-tree-list {
		position: relative;
		display: flex;
		flex-direction: column;
	}
}

.screen-tech-tree-chooser.hidden {
	visibility: hidden;
}

.tech-chooser-container {
	width: 100%;

	.fxs-scrollable {
		padding-top: 0;
		flex: 1 1 auto;
	}
}