@use '../../utilities/utility-layout' as *;
@use '../../utilities/utility-text' as *;

.test-container {
	position: absolute;
	align-self: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.test-card-container {
	position: relative;
	align-self: center;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: pixels(24) pixels(48) pixels(48);
}

// ------------------------------------ //
//   			#TURN-COUNTER			//
// ------------------------------------ //

test-turn-counter {
	--turn-font-size: #{pixels(17)};
	position: absolute;
	height: pixels(32);
	min-width: pixels(44);
}

.test-turn-counter__shadow {
	position: absolute;
	top: pixels(-12);
	bottom: pixels(-12);
	left: pixels(-28);
	right: pixels(-28);
	border-image-slice: 15 28 15 28 fill;
	border-image-width: pixels(26) pixels(52) pixels(26) pixels(52);
	border-image-source: url("fs://game/shadow_turn-counter.png");
}

.test-turn-counter__bg-shape {
	position: absolute;
	top: pixels(0);
	bottom: pixels(0);
	left: pixels(-10);
	right: pixels(-10);
	border-image-slice: 15 24 15 36 fill;
	border-image-width: pixels(15) pixels(24) pixels(15) pixels(36);

	&.test-turn-counter__outer-bg {
		border-image-source: url("fs://game/mask_turn-counter.png");
		filter: fxs-color-mask(var(--bg-color));
	}

	&.test-turn-counter__frame {
		border-image-source: url("fs://game/frame_turn-counter.png");
		filter: fxs-color-mask(var(--frame-color));
	}

	&.test-turn-counter__overlay {
		border-image-source: url("fs://game/overlay_turn-counter.png");
	}
}

.test-turn-counter__number {
	position: relative;
	padding-left: pixels(30);
	padding-right: pixels(11);
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "BodyFont";
	font-weight: 700;
	font-size: var(--turn-font-size);
	color: var(--frame-color);
}

// ------------------------------------ //
//   			#HEX-ICON				//
// ------------------------------------ //

test-hex-icon {
	--icon-width: #{pixels(48)};
	--border-thickness: #{pixels(3)};
	--inner-width: calc((-2 * var(--border-thickness)) + var(--icon-width));
	--step-icon-image: url("fs://game/cult_discipline.png");
	position: absolute;
	height: pixels(66);
	width: var(--icon-width);
	pointer-events: none;
}

.test-hex-icon__bg-shape {
	position: absolute;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;

	&.test-hex-icon__bg-shadow {
		top: pixels(0);
		left: pixels(0);
		bottom: pixels(0);
		right: pixels(0);
		background-image: url("fs://game/shadow_icon-rounded-hex.png");
	}

	&.test-hex-icon__bg-outer {
		width: var(--icon-width);
		height: var(--icon-width);
		mask-image: url("fs://game/mask_icon-rounded-hex.png");
		background-color: var(--player-color-secondary);
		background-image: url("fs://game/overlay_rounded-hex.png");
	}

	&.test-hex-icon__bg-inner {
		top: var(--border-thickness);
		left: var(--border-thickness);
		width: var(--inner-width);
		height: var(--inner-width);
		mask-image: url("fs://game/mask_icon-rounded-hex.png");
		background-color: var(--player-color-primary);
		background-image: url("fs://game/overlay_rounded-hex-inner.png");
	}
}

.test-hex-icon__image {
	position: absolute;
	top: pixels(0);
	left: pixels(0);
	width: var(--icon-width);
	height: var(--icon-width);
	mask-image: url("fs://game/mask_hex_icon_64px.png");
	mask-size: cover;
	mask-position: 50% calc(pixels(-2) + (-.0625 * var(--icon-width)));
	mask-repeat: no-repeat;
	background-image: var(--step-icon-image);
	background-position: center;
	background-repeat: no-repeat;
	background-size: calc(pixels(8) + var(--icon-width));
	pointer-events: auto;
}

// ------------------------------------ //
//   			#CIVICS-CARD			//
// ------------------------------------ //

test-civics-card {
	// Hover/Focus Animation Variables
	--shadow-x-offset: #{pixels(0)};
	--shadow-y-offset: #{pixels(0)};
	--shadow-opacity: 1;
	--card-scale: 1;
	--card-hover-scale: 1.0625;
	--highlight-opacity: 0;
	--icon-shadow-opacity: 1;
	// Card Color Variables
	--card-bg-light: var(--player-color-primary);
	--card-bg-dark: var(--player-color-primary-more);
	--card-title-color: var(--player-color-secondary);
	--card-pattern-color: var(--player-color-secondary);
	--card-bg-accent: var(--player-color-secondary-accent);
	// Icon Color Variables
	--icon-bg-light: var(--player-color-secondary-more);
	--icon-bg-dark: var(--player-color-secondary);
	--icon-inner-bg: var(--player-color-primary);
	--icon-inner-color: var(--player-color-secondary);
	--icon-image: url("fs://game/cult_discipline.png");
	// Progress Bar Color Variables
	--bar-light-color: var(--player-color-secondary-more);
	--bar-med-color: var(--player-color-secondary);
	--bar-dark-color: var(--player-color-secondary-less);
	--bar-bg-color: var(--player-color-primary-more);
	// In-Progress Variables
	--progress-visibility: hidden;
	--hitbox-left-offset: #{pixels(-72)};
	// Is Complete Variables
	--turn-counter-visibility: visible;
	--checkmark-visibility: hidden;
	// Is Locked Variables
	--icon-image-opacity: 1;
	// Primary Color Is Lighter Variables
	--card-overlay-light-opacity: .125;
	--card-overlay-dark-opacity: .25;
	// Has Tiers Variables
	--show-tiers: hidden;

	position: relative;
	width: auto;
	height: auto;
	transform: scale(var(--card-scale));
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: flex-start;
	pointer-events: none;
	margin-left: pixels(60);

	&.test-civics-card--in-progress {
		--progress-visibility: visible;
		--card-scale: 1.125;
		--card-hover-scale: 1.1875;
		--hitbox-left-offset: #{pixels(-96)};
	}

	&.test-civics-card--has-tiers {
		--show-tiers: visible;
	}

	&.primary-color-is-lighter {
		--card-bg-light: var(--player-color-primary-more);
		--card-bg-dark: var(--player-color-primary);
		--icon-bg-light: var(--player-color-secondary);
		--icon-bg-dark: var(--player-color-secondary-more);
		--card-overlay-light-opacity: .25;
		--card-overlay-dark-opacity: .125;
		--bar-light-color: var(--player-color-secondary-less);
		--bar-med-color: var(--player-color-secondary);
		--bar-dark-color: var(--player-color-secondary-more);
		--bar-bg-color: var(--player-color-primary);

		.test-civics-card__icon-bg--tier-inner {
			text-shadow: pixels(1) pixels(0) var(--player-color-secondary);
		}
	}

	&:hover,
	&:focus {
		--shadow-x-offset: #{pixels(-8)};
		--shadow-y-offset: #{pixels(6)};
		--shadow-opacity: .875;
		--card-scale: var(--card-hover-scale);
		--highlight-opacity: 1;
		--icon-shadow-opacity: .625;
		z-index: 2;
	}
}

.test-civics-card__hitbox {
	position: absolute;
	top: pixels(-12);
	left: var(--hitbox-left-offset);
	bottom: pixels(-24);
	right: pixels(-12);
	pointer-events: auto;
}

.test-civics__main-container {
	position: relative;
	min-height: pixels(96);
	min-width: pixels(300);
	margin-top: pixels(12);
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: stretch;
}

.test-civics-card__card {
	--turn-bg-color: var(--player-color-secondary);
	--turn-frame-color: var(--player-color-primary);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	&.test-civics-card__card--main {
		min-height: pixels(96);
		min-width: pixels(300);
		padding-top: pixels(12);
		padding-left: pixels(84);

	}

	&.test-civics-card__card--tier {
		--progress-visibility: hidden;
		min-height: pixels(84);
		min-width: pixels(96);
		margin-top: pixels(-24);
		padding-top: pixels(24);
		padding-left: pixels(36);
	}

	&.test-civics-card--in-progress {
		--progress-visibility: visible;
		--card-scale: 1.125;
		--card-hover-scale: 1.1875;
		--hitbox-left-offset: #{pixels(-96)};
	}

	&.test-civics-card--complete {
		--turn-counter-visibility: hidden;
		--checkmark-visibility: visible;
		--card-bg-light: var(--player-color-secondary-more);
		--card-bg-dark: var(--player-color-secondary);
		--card-overlay-light-opacity: .25;
		--card-overlay-dark-opacity: .125;
		--card-title-color: var(--player-color-primary);
		--card-pattern-color: var(--player-color-primary);
		--card-bg-accent: var(--player-color-primary-accent);
	}

	&.test-civics-card--locked {
		--card-bg-light: rgb(192, 192, 192);
		--card-bg-dark: rgb(144, 144, 144);
		--card-overlay-light-opacity: .25;
		--card-overlay-dark-opacity: .125;
		--card-title-color: rgb(72, 72, 72);
		--card-pattern-color: rgb(72, 72, 72);
		--card-bg-accent: rgb(120, 120, 120);
		--icon-bg-light: rgb(192, 192, 192);
		--icon-bg-dark: rgb(144, 144, 144);
		--icon-inner-bg: rgb(72, 72, 72);
		--icon-inner-color: rgb(192, 192, 192);
		--turn-bg-color: rgb(192, 192, 192);
		--turn-frame-color: rgb(72, 72, 72);
		--icon-image-opacity: .5;

		.test-civics-card__icon-bg--tier-inner {
			text-shadow: none;
		}
	}
}

.test-civics-card__bg-shadow {
	position: absolute;
	top: pixels(-48);
	bottom: pixels(-48);
	left: pixels(-48);
	right: pixels(-48);
	border-image-source: url('fs://game/shadow_card-cutout.png');
	border-image-slice: 30 30 30 30 fill;
	border-image-width: pixels(60) pixels(60) pixels(60) pixels(60);
	transform-origin: 50% 50%;
	transform: translateX(var(--shadow-x-offset)) translateY(var(--shadow-y-offset));
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	opacity: var(--shadow-opacity);
	z-index: -2;

	&.test-civics-card__bg-shadow--tier {
		visibility: var(--show-tiers);
	}
}

.test-civics-card__bg-shape {
	position: absolute;
	top: pixels(0);
	bottom: pixels(0);
	left: pixels(0);
	right: pixels(0);
	mask-size: 100%;
	mask-repeat: no-repeat;
	mask-position: center;
	border-image-source: url('fs://game/mask_card-cutout.png');
	border-image-slice: 12 12 12 12 fill;
	border-image-width: pixels(12) pixels(12) pixels(12) pixels(12);

	&.test-civics-card__base-bg {
		filter: fxs-color-mask(var(--card-bg-light));
	}

	&.test-civics-card__main-highlight {
		top: pixels(-6);
		bottom: pixels(-6);
		left: pixels(-6);
		right: pixels(-6);
		filter: fxs-color-mask(rgb(236, 224, 212));
		opacity: var(--highlight-opacity);
		transition-property: opacity;
		transition-duration: .25s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		z-index: -1;

		&.test-civics-card__tier-highlight {
			visibility: var(--show-tiers);
		}
	}

	&.test-civics-card__bg-gradient {
		filter: fxs-color-mask(var(--card-bg-dark));
		mask-image: linear-gradient(210deg, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 1)100%);
	}

	&.test-civics-card__overlay-light {
		filter: fxs-color-mask(rgb(236, 224, 212));
		mask-image: linear-gradient(210deg, rgba(0, 0, 0, var(--card-overlay-light-opacity))0%, rgba(0, 0, 0, 0)100%);
	}

	&.test-civics-card__overlay-dark {
		filter: fxs-color-mask(rgb(10, 2, 13));
		mask-image: linear-gradient(210deg, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, var(--card-overlay-dark-opacity))100%);
	}
}

.test-civics-card__thin-frame {
	position: absolute;
	top: pixels(3);
	bottom: pixels(3);
	left: pixels(3);
	right: pixels(3);
	border-image-source: url('fs://game/frame_card-thin.png');
	border-image-slice: 12 12 12 12 fill;
	border-image-width: pixels(12) pixels(12) pixels(12) pixels(12);
	filter: fxs-color-mask(var(--card-bg-accent));
}

.test-civics-card__thick-frame {
	position: absolute;
	top: pixels(0);
	bottom: pixels(0);
	left: pixels(0);
	right: pixels(0);
	border-image-source: url('fs://game/frame_card-thick.png');
	border-image-slice: 12 12 12 12 fill;
	border-image-width: pixels(12) pixels(12) pixels(12) pixels(12);
	filter: fxs-color-mask(var(--card-title-color));
	visibility: var(--progress-visibility);
}

.test-civics-card__title {
	position: relative;
	font-family: "TitleFont";
	font-weight: 400;
	font-size: pixels-font(17);
	color: var(--card-title-color);
	line-height: pixels(24);
	letter-spacing: pixels(2);
	margin-left: pixels(-2);
}

.test-civics-card__bonus-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: pixels(4);
}

// ------------------------------------ //
//   			#BONUSES				//
// ------------------------------------ //

.test-civics-card__bonus {
	position: relative;
	height: var(--icon-width);
	margin: pixels(0) pixels(-1);

	.test-hex-icon__image {
		top: var(--border-thickness);
		left: var(--border-thickness);
		width: calc((-2 * var(--border-thickness)) + var(--icon-width));
		height: calc((-2 * var(--border-thickness)) + var(--icon-width));
		mask-image: url("fs://game/mask_icon-rounded-hex.png");
		mask-size: contain;
		mask-position: center;
		mask-repeat: no-repeat;
		background-size: cover;
		opacity: var(--icon-image-opacity);
	}

	.test-hex-icon__bg-outer {
		background-color: var(--icon-bg-light);
	}

	.test-hex-icon__bg-inner {
		background-color: var(--icon-inner-bg);
	}
}

.test-civics-card__bonus-pattern-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: pixels(16);
	flex: 1 1 auto;
	border-style: solid;
	border-width: pixels(0);
	border-left-width: pixels(6);
	border-right-width: pixels(6);
	border-left-color: var(--card-pattern-color);
	border-right-color: var(--card-pattern-color);
	opacity: .25;

	&.pattern-left {
		flex: 0 0 auto;
		margin-left: pixels(-54);
		width: pixels(42);
		margin-right: pixels(6);
	}

	&.pattern-right {
		flex: 1 0 auto;
		margin-right: pixels(12);
		transform-origin: 50% 50%;
		transform: scaleX(-1);
		margin-left: pixels(6);
		min-width: pixels(24);
	}
}

.test-civics-card__bonus-pattern {
	position: relative;
	height: pixels(16);
	width: 100%;
	background-image: url('fs://game/core/ui/themes/default/img/civ_patterns/egypt_pattern.png');
	background-size: pixels(16) pixels(16);
	background-position: 0% 0%;
	filter: fxs-color-mask(var(--card-pattern-color));
}

// ------------------------------------ //
//   			#CIRCLE_ICON			//
// ------------------------------------ //

.test-civics-card__icon-container {
	position: absolute;
	top: pixels(-12);
	left: pixels(-60);
	width: pixels(120);
	height: pixels(120);
}

.test-civics-card__icon-highlight {
	position: absolute;
	mask-image: url("fs://game/mask_circle-120px.png");
	mask-repeat: no-repeat;
	mask-position: 50% 50%;
	mask-size: 100% 100%;
	background-color: rgb(236, 224, 212);
	opacity: var(--highlight-opacity);
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: -1;

	&.test-civics-card__icon-highlight--main {
		top: pixels(-24);
		left: pixels(-72);
		width: pixels(144);
		height: pixels(144);
		margin-right: pixels(-60);
	}

	&.test-civics-card__icon-highlight--tier {
		top: pixels(20);
		left: pixels(-34);
		width: pixels(68);
		height: pixels(68);
	}
}

.test-civics-card__icon-bg {
	position: absolute;
	top: pixels(0);
	left: pixels(0);
	right: pixels(0);
	bottom: pixels(0);
	background-image: linear-gradient(195deg, var(--icon-bg-light)0%, var(--icon-bg-dark)100%);
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	mask-image: url("fs://game/mask_circle-120px.png");
	mask-repeat: no-repeat;
	mask-position: 50% 50%;

	&.test-civics-card__icon-bg--main {
		mask-size: pixels(128) pixels(128);
	}

	&.test-civics-card__icon-bg--tier {
		mask-size: pixels(52) pixels(52);
	}

	&.test-civics-card__icon-bg--tier-inner {
		mask-size: pixels(52) pixels(52);
		top: pixels(10);
		left: pixels(10);
		right: pixels(10);
		bottom: pixels(10);
		mask-size: pixels(34) pixels(34);
		background-image: none;
		background-color: var(--icon-inner-bg);
		color: var(--icon-inner-color);
		font-family: "TitleFont";
		font-weight: 400;
		font-size: pixels-font(17);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		letter-spacing: pixels(1);
		padding-left: pixels(1);
	}
}

.test-civics-card__icon-shadow {
	position: absolute;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	&.test-civics-card__icon-shadow--main-big {
		width: pixels(256);
		height: pixels(256);
		top: pixels(-32);
		left: pixels(-80);
		background-image: url("fs://game/shadow_card-circle-big.png");
	}

	&.test-civics-card__icon-shadow--main-tight {
		width: pixels(256);
		height: pixels(256);
		top: pixels(-68);
		left: pixels(-68);
		background-image: url("fs://game/shadow_card-circle-tight.png");
		opacity: .625;
	}

	&.test-civics-card__icon-shadow--tier-big {
		width: pixels(104);
		height: pixels(104);
		top: pixels(2);
		left: pixels(-52);
		background-image: url("fs://game/shadow_card-circle-small.png");
		z-index: -1;
		transform: translateX(var(--shadow-x-offset)) translateY(var(--shadow-y-offset));
		transition-property: transform;
		transition-duration: .25s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	&.test-civics-card__icon-shadow--tier-tight {
		width: pixels(104);
		height: pixels(104);
		top: pixels(-26);
		left: pixels(-26);
		background-image: url("fs://game/shadow_card-circle-big.png");
		opacity: var(--icon-shadow-opacity);
		transition-property: opacity;
		transition-duration: .25s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translateX(pixels(0));
	}

}

.test-civics-card__icon-frame {
	position: absolute;
	top: pixels(3);
	left: pixels(3);
	bottom: pixels(3);
	right: pixels(3);
	background-color: transparent;
	border-radius: 50%;
	border-style: solid;
	border-width: pixels(1);
	border-color: white;
	background-repeat: no-repeat;
	filter: fxs-color-mask(var(--card-bg-accent));

	&.test-civics-card__icon-frame--main {
		background-image: url("fs://game/frame_circle-branches.png");
		background-size: pixels(128) pixels(128);
		background-position: 50% 50%;
	}
}

.test-civics-card__icon-image {
	position: absolute;
	top: pixels(18);
	bottom: pixels(18);
	left: pixels(18);
	right: pixels(18);
	mask-image: url("fs://game/mask_circle-120px.png");
	mask-repeat: no-repeat;
	mask-position: 50% 50%;
	mask-size: pixels(86) pixels(86);
	background-image: var(--icon-image);
	background-size: pixels(96) pixels(96);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: var(--icon-image-opacity);
}

.test-civics-card__icon-overlay {
	position: absolute;
	top: pixels(0);
	bottom: pixels(0);
	left: pixels(0);
	right: pixels(0);
	background-image: url("fs://game/overlay_card-circle.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;

	&.test-civics-card__icon-overlay--main {
		background-size: pixels(128) pixels(128);
	}

	&.test-civics-card__icon-overlay--tier {
		background-size: pixels(52) pixels(52);
	}
}

.test-civics-card__turn-counter {
	--bg-color: var(--turn-bg-color);
	--frame-color: var(--turn-frame-color);
	bottom: pixels(-10);
	align-self: center;
	visibility: var(--turn-counter-visibility);
}

// ------------------------------------ //
//   			#PROGRESS_BAR			//
// ------------------------------------ //

.test-civics-card__progress-container {
	position: absolute;
	width: pixels(64);
	height: pixels(128);
	top: pixels(-16);
	left: pixels(-88);
	visibility: var(--progress-visibility);
}

.test-civics-card__progress-highlight {
	position: absolute;
	width: pixels(80);
	height: pixels(144);
	top: pixels(-24);
	left: pixels(-100);
	right: pixels(0);
	mask-image: url("fs://game/mask_civics-progress-bg.png");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: 50% 50%;
	visibility: var(--progress-visibility);
	background-color: rgb(236, 224, 212);
	opacity: var(--highlight-opacity);
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: -1;
}

.test-civics-card__progress-shadow {
	position: absolute;
	width: pixels(128);
	height: pixels(256);
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	top: pixels(-32);
	left: pixels(-72);
	background-image: url("fs://game/shadow_civics-progress-bar.png");
	visibility: var(--progress-visibility);
}

.test-civics-card__progress-bg {
	position: absolute;
	top: pixels(0);
	left: pixels(0);
	bottom: pixels(0);
	right: pixels(0);
	mask-image: url("fs://game/mask_civics-progress-bg.png");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: 50% 50%;
	background-color: var(--bar-bg-color);
}

.test-civics-card__progress-bar {
	--progress-amount: 35%;
	position: absolute;
	bottom: pixels(21);
	right: pixels(0);
	width: pixels(64);
	height: pixels(86);
	mask-image: url("fs://game/mask_civics-progress-bar.png");
	mask-size: pixels(64) pixels(128);
	mask-repeat: no-repeat;
	mask-position: 50% 50%;
	background-image: linear-gradient(to bottom, rgba(236, 224, 212, .75) pixels(0), rgba(236, 224, 212, .75) pixels(2), transparent pixels(2)), linear-gradient(to top, var(--bar-dark-color)0%, var(--bar-med-color)50%, var(--bar-light-color)100%);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: pixels(64) var(--progress-amount), pixels(64) var(--progress-amount);
}

.test-civics-card__progress-frame {
	position: absolute;
	top: pixels(0);
	left: pixels(0);
	bottom: pixels(0);
	right: pixels(0);
	mask-image: url("fs://game/frame_civics-progress-bar.png");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: 50% 50%;
	background-color: var(--player-color-secondary);
}

.test-civics-card__checkmark {
	--checkmark-size: #{pixels(48)};
	position: absolute;
	top: pixels(-24);
	right: pixels(-22);
	visibility: var(--checkmark-visibility);
}

// ------------------------------------ //
//   				#TIER				//
// ------------------------------------ //

.test-civics-card__tier-container {
	position: relative;
	margin-left: pixels(48);
	margin-right: pixels(12);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: pixels(0);
}

.test-civics-card__tier-inner-container {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: stretch;
	margin-left: pixels(48);
	margin-right: pixels(12);
	align-self: flex-start;
}

.test-civics-card__tier-top-shadow {
	position: absolute;
	top: pixels(0);
	left: pixels(-4);
	right: pixels(-4);
	height: pixels(30);
	border-image-source: url('fs://game/shadow_bar.png');
	border-image-slice: 6 20 8 20 fill;
	border-image-width: pixels(6) pixels(20) pixels(6) pixels(20);
}

.test-civics-card__tier-icon-container {
	position: absolute;
	width: pixels(52);
	height: pixels(52);
	left: pixels(-26);
	top: pixels(28);
}

.test-civics-card__tier-turn-counter {
	--bg-color: var(--turn-bg-color);
	--frame-color: var(--turn-frame-color);
	bottom: pixels(-14);
	align-self: center;
	visibility: var(--turn-counter-visibility);

	.test-turn-counter__shadow {
		z-index: -1;
	}
}

.test-civics-card__tier-hitbox {
	position: absolute;
	top: pixels(0);
	left: pixels(-48);
	bottom: pixels(-12);
	right: pixels(-24);
	pointer-events: auto;
}

.test-civics-card__tier-checkmark {
	--checkmark-size: #{pixels(36)};
	position: absolute;
	top: pixels(22);
	right: pixels(-18);
	visibility: var(--checkmark-visibility);
}

.test-civics-card__progress-arrow {
	--arrow-color: var(--icon-bg-dark);
	--arrow-highlight: var(--icon-inner-bg);
	visibility: var(--progress-visibility);
	left: pixels(-8);
	top: pixels(16);
}