@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-shapes' as shapes;
@use '../../../core/ui/themes/default/baseColors.scss';

.belief-chooser-scroll {
	height: 90%;
}

.belief-chooser__content {
	position: absolute;
	top: pixels(16);
	width: 100%;
	pointer-events: auto;

	.gen-chooser-item {
		display: flex;
		flex-direction: row;
		width: 99%;
		height: pixels(96);
		border: pixels(2) solid grey;
		margin-top: pixels(8);
		pointer-events: auto;

		&:focus,
		&:hover {
			border: pixels(2) solid white;
		}
	}
}

.belief-chooser__selection-status {
	display: flex;
	top: pixels(64);
	right: pixels(64);
	z-index: 1;
	margin-top: pixels(24);
}

.belief-chooser__selection-text {
	width: auto;
	height: pixels(48);
	text-align: left;
	margin-top: pixels(40);
	margin-left: pixels(16);
}

.belief-chooser__selection-icon-img {
	opacity: 0.9;
	pointer-events: auto;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: pixels(48);
	height: pixels(48);
	transform-origin: center;
}