*
!.gitignore
!README.me
!build.ts
!LICENSE
!package.json
!src
!src/**
!dist
!dist/**
!tsconfig.json
!examples
!examples/**
!assets
!assets/**
!previews
!previews/**
!example-generated-mod
!example-generated-mod/**
!.editorconfig
!CHANGELOG.md
