@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/utilities/utility-shapes' as shapes;
@use '../../../core/ui/themes/default/baseColors';
@use '../../../core/ui/themes/default/animations';

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	100% {
		opacity: 0;
	}
}

@keyframes sand-drip {
	0% {
		top: 2%; //hold
	}

	20% {
		top: 50%; //begin flip
	}

	50% {
		top: 50%; //end flip
	}

	70% {
		top: 2%; // hold
	}

	100% {
		top: 2%; //hold flip
	}
}

@keyframes spin {
	0% {

		transform: rotate(0deg);
	}

	20% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	70% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.hidden {
	visibility: hidden;
}

body {
	background-color: black;
	margin: pixels(0);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.fade-in {
	opacity: 0;
	animation: fadein 2s;
	animation-fill-mode: both;
}

.fade-out {
	animation: fadeout 0.25s;
	animation-fill-mode: both;

}

.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.loading-anim-sand {
	background-color: baseColors.$third-dark-color;
	width: 50%;
	height: 50%;
	position: relative;
	margin-left: 25%;
	animation-timing-function: animations.$quadInOut;
	animation: sand-drip 3s infinite;
}

.loading-anim-hour-glass {
	background-image: url("fs://game/base-standard/HourGlass.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
}

.loading-anim {
	width: pixels(52);
	height: 100%;
	position: relative;
	transform-origin: 50% 50%;
	animation-timing-function: animations.$quadInOut;
	animation: spin 3s infinite;
}