@use 'sass:math';
@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/themes/default/baseColors';
@use '../../../core/ui/themes/default/animations';


.pause-menu {
	opacity: 1;
	height: 100%;
	position: relative;
	pointer-events: none;
	align-self: flex-end;

	.morelist {
		display: flex;
	}

	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	.item-list {
		flex-direction: row;
		flex: 1 1 auto;
		margin-right: pixels(16);
	}

	.fxs-close-button {
		left: auto;
		right: pixels(0);
	}

	.img-frame-filigree {
		top: pixels(-24);
	}

	@media (experience: mobile) {
		align-self: stretch;
	}
}

@media (max-height: pixels(1000)) {

	.pause-menu__header-top-filigree,
	.pause-menu__logo,
	.pause-menu__header-bottom-filigree {
		display: none;
	}

	.pause-menu_button-divider-filigree {
		margin-top: pixels(-2);
		margin-bottom: pixels(5);
	}
}

@media (experience: mobile) {

	.pause-menu__header-top-filagree {
		display: flex;
		margin-bottom: pixels(-14);
	}

	.pause-menu__logo {
		display: flex;
	}

	.pause-menu__header-bottom-filagree {
		display: flex;
		margin-top: pixels(-20);
		margin-bottom: pixels(16);
	}
}

.pause-menu__header-top-filigree {
	background-image: url("fs://game/shell_top-filigree");
}

.pause-menu__logo {
	background-image: url("fs://game/shell_logo-full.png");
	width: 100%;
	max-width: pixels(534);
	height: pixels(96);
}

.pause-menu__header-bottom-filigree {
	border-image: url("fs://game/hud_pause-logo-filigree.png");
	border-image-slice: 0 0 0 0 fill;
	border-image-width: pixels(0);
	width: 100%;
	max-width: pixels(534);
	height: pixels(32);
}

.pause-menu__progression-container {
	width: pixels(420);
	height: pixels(74);
}

.pause-menu__header-help {
	top: pixels(0);
	left: pixels(360);
	right: pixels(0);
	bottom: pixels(0);
}

.pause-menu__player-info {
	@media (min-height: pixels(1080)) {
		margin-bottom: pixels(36);
	}
}

.pause-menu_button-divider-filigree {
	background-image: url("fs://game/shell_simple-div.png");
	width: pixels(384);
	background-size: cover;
}

.build-info {
	color: baseColors.$third-color;
	font-family: "BodyFont", "BodyFont-JP", "BodyFont-KR", "BodyFont-SC", "BodyFont-TC";
	background-color: baseColors.$base-color;
}