@use '../../utilities/utility-layout' as *;
@use '../../utilities/utility-text' as *;

.credits-scroller {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.credits-buttons {
	display: flex;
	position: absolute;
	right: pixels(40);
	bottom: pixels(40);
	justify-content: center;
	align-items: center;
}

.credits-buttons fxs-button1 {
	margin-right: pixels(10);
}

.credits-text-row {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	min-height: pixels(6);
	margin-top: pixels(1);
	margin-bottom: pixels(1);
	font-weight: bold;
}

.credits-image-row {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: pixels(6);
	margin-top: pixels(1);
	margin-bottom: pixels(1);
}

.credits-image-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: pixels(256);
}


.credits-image {
	display: flex;
	max-height: pixels(256);
}

.screen-credits {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section__image-asset {
	flex: 1 1 100%;
	height: 100%;
}


/* ===== SECTION STYLES ===== */
.credits-section__title {
	font-size: 48px;
	font-weight: bold;
	color: rgb(150, 130, 110);
	fxs-font-gradient-color: rgb(255, 228, 184);
}

.credits-section__subtitle {
	padding-top: 20px;
	font-size: 40px;
	font-weight: normal;
	color: rgb(209, 181, 133);
}

.credits-section__role {
	padding-top: 10px;
	font-size: 28px;
	font-weight: normal;
	color: rgb(193, 165, 123);
}

.credits-section__name {
	font-size: 24px;
	font-weight: bold;
	color: rgb(255, 228, 184);
}