@use '../../utilities/utility-layout' as *;

leaders-test {
	position: absolute;
	bottom: pixels(100);
	right: pixels(100);
	width: pixels(200);
	height: pixels(200);
	background-color: grey;

	&.leaders-test--animated {
		background-color: green;

	}
}