@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;

screen-endgame {
	--civ-symbol: url('fs://game/leader_symb_06.png');
	background-color: transparent;
	transition: background-color 0.5s ease-in-out;

	.fxs-tab-control {
		width: pixels(400);
		height: pixels(174);
		position: absolute;
		top: pixels(338);
		left: pixels(111);
	}

	.checkmark-container {
		--checkmark-size: #{pixels(34)};
		position: absolute;
		align-self: center;
		bottom: pixels(-9.6);
		pointer-events: auto;
	}

	#age-summary-container {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.screen-endgame__nav-container {
	background-color: var(--screen-background);
	transition: background-color 0.5s ease-in-out;
}

.screen-endgame__rounded-shadow {
	border-image-source: url('fs://game/shadow_rounded-square.png');
	border-image-slice: 15 fill;
	border-image-width: pixels(30);
	border-image-outset: pixels(16);
}

.screen-endgame__painting-color-adjust {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top right, rgba(28, 20, 29, 1) 0%, rgba(234, 222, 211, 1) 100%);
	opacity: .25;
}

.screen-endgame__painting-marble-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("fs://game/marble_bg.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .25;
}

.screen-endgame__painting-bg-vignette {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, transparent 0%, black 150%);
}

.screen-endgame__painting-top-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: pixels(400);
	background: linear-gradient(to bottom, black 0%, transparent 100%);
}

.screen-endgame__title-wrapper {
	width: pixels(673);
	height: pixels(53);
	align-self: center;
	position: absolute;
	top: pixels(116);
}

.screen-endgame__title-text {
	width: 100%;
	font-size: pixels-font(38);
	text-align: center;
	color: #ffbadd;
}

.screen-endgame__title-horizontal-rule {
	width: 50%;
	height: pixels(16);
	transform: translate(50%, pixels(4));
	background-image: url("fs://game/Ornament_centerDivider_withHex.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right top;
}

@keyframes win-animation-slide-up {
	100% {
		transform: scale(1);
	}
}

@keyframes win-content-slide-up {
	100% {
		transform: translateY(0%);
	}
}

@keyframes win-content-slide-up-blur {
	100% {
		filter: blur(pixels(0));
		transform: translateY(0%);
	}
}

@keyframes win-animation-bg-fade-in {
	100% {
		opacity: 1;
		mask-position: 50% 100%;
		// transform: translateY(0%);
	}
}

.age-ending__container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	justify-content: center;

	&.age-ending__container--fade-in-vignette {

		.age-summary__vignette {
			animation-name: summary-vignette-fade-in;
			animation-delay: 0s;
			animation-duration: .75s;
			animation-timing-function: linear;
			animation-fill-mode: both;
		}

	}
}

// ------------------------------------ //
//   			#VIGNETTE				//
// ------------------------------------ //

$shading-animation-delay: .5s;
$shading-animation-time: 1.5s;
$shading-ease: cubic-bezier(0, 0.55, 0.45, 1);

.age-ending__shading-container {
	display: flex;
	animation: fade-in-shading;
	animation-delay: $shading-animation-delay;
	animation-duration: $shading-animation-time;
	animation-timing-function: $shading-ease;
	animation-fill-mode: both;
}

@keyframes fade-in-shading {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.age-ending__painting-color-adjust {
	background-image: linear-gradient(195deg, rgba(var(--clr-panel__overlay-light), .375) 0%, rgba(var(--clr-panel__overlay-dark), .375) 100%);
}

.age-ending__painting-marble-overlay {
	background-image: url("fs://game/marble_bg.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .375;
}

.age-ending__painting-bg-vignette {
	background-image: radial-gradient(circle, rgba(var(--clr-panel__overlay-dark), 0) 0%, rgba(var(--clr-panel__overlay-dark), 1) 150%);
}

.age-ending__painting-top-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: pixels(400);
	background-image: linear-gradient(to bottom, rgba(var(--clr-panel__overlay-dark), 1) 0%, rgba(var(--clr-panel__overlay-dark), 0) 100%);
}

.age-ending__painting-bottom-gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: pixels(400);
	background-image: linear-gradient(to top, rgba(var(--clr-panel__overlay-dark), 1) 0%, rgba(var(--clr-panel__overlay-dark), 0) 100%);
}

// ------------------------------------ //
//   			#PANEL					//
// ------------------------------------ //

$content-animation-delay: $shading-animation-time + $shading-animation-delay - 1s;
$content-animation-time: 2.5s;
$content-ease: cubic-bezier(0, 1, .25, 1);

$shadow-animation-delay: $shading-animation-time + $shading-animation-delay - 1s;
$shadow-animation-time: 2.5s;

$overlay-animation-delay: $content-animation-delay;
$overlay-animation-time: 2s;

$slow-zoom-delay: $content-animation-delay + $content-animation-time + 3s;
$slow-zoom-time: 10s;

$content-fade-out-delay: $content-animation-delay + $content-animation-time + 3s;
$content-fade-out-time: 1.625s;

.age-ending__symbol-container {
	position: absolute;
	width: pixels(1632);
	height: pixels(240);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.age-ending__symbol {
	width: 25%;
	height: 100%;
	background-image: var(--civ-symbol);
	background-size: contain;
	background-repeat: no-repeat;
	filter: fxs-color-mask(var(--player-color-secondary-less));
	opacity: .5;

	&.age-ending__symbol--left {
		background-position: 0% 50%;
	}

	&.age-ending__symbol--right {
		background-position: 100% 50%;
	}
}

.age-ending__panel-bg-overlay {
	background-image:
		linear-gradient(to right, rgba(var(--clr-panel__overlay-dark), .75) 0%, rgba(var(--clr-panel__overlay-dark), .25) 10%, rgba(var(--clr-panel__overlay-dark), 0) 20%, rgba(var(--clr-panel__overlay-dark), 0) 80%, rgba(var(--clr-panel__overlay-dark), .25) 90%, rgba(var(--clr-panel__overlay-dark), .75) 100%),
		linear-gradient(195deg, rgba(var(--clr-panel__overlay-dark), 0) 0%, rgba(var(--clr-panel__overlay-dark), 0) 75%, rgba(var(--clr-panel__overlay-dark), .25) 100%),
		linear-gradient(165deg, rgba(var(--clr-panel__overlay-dark), 0) 0%, rgba(var(--clr-panel__overlay-dark), 0) 75%, rgba(var(--clr-panel__overlay-dark), .25) 100%);
}

.age-ending__panel-overlay {
	background-image:
		linear-gradient(to right, rgba(var(--clr-panel__overlay-dark), .25) 0%, rgba(var(--clr-panel__overlay-dark), .125) 12.5%, rgba(var(--clr-panel__overlay-dark), 0) 25%, rgba(var(--clr-panel__overlay-dark), 0) 75%, rgba(var(--clr-panel__overlay-dark), .125) 87.5%, rgba(var(--clr-panel__overlay-dark), .25) 100%),
		linear-gradient(195deg, rgba(var(--clr-panel__overlay-light), .0625) 0%, rgba(var(--clr-panel__overlay-dark), .25) 75%);
}

.age-ending__panel-darkening {
	background-color: rgba(var(--clr-panel__overlay-dark), 1);
	animation-name: banner-fade-in;
	animation-delay: $overlay-animation-delay;
	animation-duration: $overlay-animation-time;
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-direction: reverse;
}

// ------------------------------------ //
//   			#CONTENT				//
// ------------------------------------ //

.age-ending__panel-content {
	position: relative;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
}

.age-ending__text-ornament {
	position: relative;
	width: pixels(240);
	height: pixels(27);
	background-image: url("fs://game/Ornament_Unit_Bottom.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	filter: fxs-color-mask(var(--player-color-secondary-accent));
	transform-origin: 50% 50%;

	&.age-ending__text-ornament--top {
		transform: scaleY(-1);
	}
}

@keyframes cinema-faded-in {
	0% {
		border-width: 0;
	}

	100% {
		border-width: 0;
	}
}

.screen-endgame__panel-button-container {
	@media (max-height: pixels(720)) {
		bottom: pixels(-32);
	}
}

.screen-endgame__tab-bar {
	@media (max-height: pixels(720)) {
		width: 90%;
	}
}

.summary-slot {
	@media (max-height: pixels(720)) {
		margin-left: 0;
		margin-right: 0;
	}
}

.summary__legacy-points {
	@media (max-height: pixels(720)) {
		margin-top: pixels(10);
	}
}