@use '../../utilities/utility-layout' as *;
@use '../../utilities/utility-text' as *;
@use '../../themes/default/_theme.scss';
@use '../../themes/default/_baseColors.scss';
@use '../../themes/default/_animations.scss';

body {
	background-color: transparent;

	&.visible {
		visibility: visible;
	}
}

.oobe-container {
	position: relative;
}

.oobe-legal-container {
	@media (max-height: pixels(1079)) {
		margin-top: pixels(0);
	}
}

.oobe-logo-container {
	position: relative;
	display: flex;
	width: pixels(1000);
	height: pixels(200);
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.oobe-logo-img {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('fs://game/shell_logo-full.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform-origin: center;
}

.oobe-legal-text {
	@media (max-height: pixels(1079)) {
		width: 98%;
	}

	width: 80%;
}

.oobe-legal-logo-hslot {
	@media (max-height: pixels(1079)) {
		margin-top: pixels(32);
	}
}

.oobe-press-start-vslot {
	width: 100%;
	justify-content: center;
}

.oobe-language-setting {
	position: relative;
	width: 50%;
	display: flex;
	pointer-events: auto;

	.fxs-dropdown {
		width: 50vw;
	}
}

.oobe-language-continue {
	margin-top: pixels(40);
}

.oobe-display-continue {
	margin-top: pixels(40);
}

.oobe-display-controls {
	.fxs-dropdown {
		width: 50vw;
	}
}

.oobe-background-container {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.oobe-autosave-container__content-item {
	margin-bottom: 2em;
}

.oobe-autosave-container__save-icon {
	background-image: url('fs://game/ba_default.png');
	background-size: cover;
	width: 5em;
	height: 5em;
}

.oobe-no-pad-margin {
	margin: 0;
	padding: 0;

	p {
		margin: 0;
		padding: 0;
	}
}

.oobe-legal-documents-container {
	@media (min-height: pixels(1080)) {
		margin-top: 10vh;
	}

	margin-top: 5vh;
	margin-bottom: 5vh;
}

.oobe-legal-documents-vlist {
	pointer-events: none;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.oobe-legal-documents-scrollable {
	@media (max-height: pixels(1079)) {
		height: pixels(300);
	}

	@media (max-width: pixels(1399)) {
		width: pixels(1080);
	}

	width: pixels(1200);
	height: pixels(400);
}

.oobe-legal-documents-text-content {
	@media (max-width: pixels(1399)) {
		width: pixels(1050);
	}

	width: pixels(1170);
}

.oobe-legal-documents-title {
	max-width: pixels(1100);
}