@use '../../../core/ui/themes/default/baseColors.scss';
@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;

.espionage-details-container {
	border-image-source: url("fs://game/dip_modal_bg.png");
	border-image-slice: 32 100 64 100 fill;
	border-image-width: pixels(32) pixels(100) pixels(64) pixels(100);
	border-image-outset: pixels(5) pixels(16) pixels(26) pixels(16);
}

.espionage-details-acknowledge-icon {
	background-image: url("fs://game/dip_esp_success_icon.png");
	background-color: baseColors.$victory-color;
}

.espionage-details-diplomacy-icon {
	background-image: url("fs://game/ntf_diplomatic_action.png");
}