@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;


// Graph has to have a hard pixel width or it will grow infinitly
.graph-container {
	width: pixels(1200);
	height: pixels(600);

	@media (max-height: pixels(720)) {
		width: pixels(950);
	}
}

.graph-dropdown {
	max-width: pixels(1200);

	@media (max-height: pixels(720)) {
		width: pixels(1100);
	}
}

.graph-scrollable {
	@media (max-height: pixels(720)) {
		width: pixels(1000);
	}
}