@use '../../utilities/utility-text' as *;
@use '../../utilities/utility-layout' as *;
@use '../../../../core/ui/themes/default/_baseColors.scss';

.twok-code-redemption {
	position: absolute;
	width: 60%;
}

.dlc-image {
	width: 30%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.dlc-image {
	@media (max-height: pixels(1000)) {
		width: pixels(300);
		min-width: pixels(0);
	}
}

.dlc-viewer-scrollable {
	@media (max-height: pixels(1000)) {
		height: 87%;
	}

	height: 92%;
}

.dlc-text {
	width: 94%;
}