@use '../../../core/ui/themes/default/_theme' as *;
@use '../../../core/ui/utilities/utility-layout' as *;

.panel-city-details {
	width: pixels(588);
}

.city-details-half-divider {
	background-image: url('fs://game/prof_div_1.png');
}

.growth-entry {

	&:focus,
	&:hover {
		background: linear-gradient(90deg, color('secondary-3') 0%, color('primary-3') 100%);
	}
}

.constructible-entry {

	&:focus,
	&:hover {
		.constructible-entry-highlight {
			background: linear-gradient(90deg, color('secondary-3') 0%, color('primary-3') 100%);
		}
	}
}

.yield-button {

	&:focus,
	&:hover {
		.yield-button-highlight {
			background: linear-gradient(90deg, color('secondary-3') 0%, color('primary-3') 100%);
		}
	}
}