@use '../../../core/ui/themes/default/baseColors.scss';
@use '../../../core/ui/utilities/utility-layout' as *;

.screen-befriend-independent-details {
	left: 16px;

	fxs-header div {
		max-width: 90%;

		@media (experience: mobile) {
			max-width: 100%;
		}
	}

	@media (max-height: pixels(720)) {
		width: pixels(600);
		right: pixels(16);
		left: auto;
	}

	@media (experience: mobile) {
		top: auto;
		bottom: pixels(22);
		left: auto;
		right: pixels(16);

		@media (max-height: pixels(1000)) {
			width: pixels(664);
		}
	}

	.chooser-item__icon {
		@media (experience: mobile) and (max-height: pixels(1000)) {
			width: pixels(64);
			height: pixels(64);
		}
	}
}

#befriend-independent-progress-bar-container {
	@media (experience: mobile) {
		padding-right: pixels(8);

		@media (max-height: pixels(1000)) {
			margin-left: pixels(-12);
			padding-right: pixels(6);
		}
	}
}

.befriend-independent-header {
	@media (experience: mobile) {
		max-width: 94%;
	}
}

.befriend-independent-details-support-icon {
	background-image: url("fs://game/dip_pod_relationship.png");
	background-color: baseColors.$victory-color;
}