@use '../../../core/ui/themes/default/theme' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/themes/default/baseColors.scss';

.progress-banner__container {
	background: linear-gradient(90deg, transparent 0%, color('accent-6', 0.9) 50%, transparent 100%);
}

@keyframes progress-banner__enter-anim {
	0% {
		opacity: 0;
		transform: translateY(pixels(-30));
	}

	100% {
		opacity: 1;
		transform: translateY(pixels(0));
	}
}

.progress-banner__enter {
	animation-name: progress-banner__enter-anim;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.progress-banner__exit {
	animation-name: progress-banner__enter-anim;
	animation-direction: reverse;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}