@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/_utility-shapes' as shapes;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/themes/default/baseColors';
@use '../../../core/ui/themes/default/animations';
@use '../../../core/ui/themes/default/theme';

.panel-religion-picker {
	fxs-textbox {
		input {
			line-height: normal;
			background-color: rgba(0, 0, 0, 0);
		}
	}

	@media (experience: mobile) {
		bottom: 0;
		top: pixels(55);
	}
}

.religion-picker_confirm-container {
	@media (experience: mobile) {
		margin-top: pixels(12);
		margin-bottom: pixels(16);
	}
}

.religion-picker_religion-info-icon-container_holder {
	background-image: url("fs://game/rel_icon_holder.png");
}

.religion-picker_religion-info-icon-container_glow {
	background-image: url("fs://game/rel_glow_element.png");
}

.religion-picker_religion-choices {
	width: pixels(680);
}

.religion-entry {

	&:hover,
	&:focus {
		.religion-selected-glow {
			display: flex;
		}
	}

	&.disabled {
		opacity: 0.33;
	}
}

.entry-selected {
	.religion-selected-glow {
		display: flex;
	}

	.religion-selected-border {
		display: flex;
	}
}

.religion-selected-border {
	display: none;
	border-image: url("fs://game/rel_icon_select.png");
	border-image-slice: 25 27 28 27 fill;
	border-image-width: pixels(25) pixels(27) pixels(28) pixels(27);
	border-image-outset: pixels(28);
}

.religion-selected-glow {
	display: none;
	border-image: url("fs://game/rel_glow_larger.png");
	border-image-slice: 0 1 0 1 fill;
	border-image-width: pixels(0) pixels(1) pixels(0) pixels(1);
	border-image-outset: pixels(28);
}