@use '../../../core/ui/utilities/utility-layout' as *;

.suzerain-bonus__frame-container {
	width: pixels(630);
	margin-top: pixels(192);
	margin-bottom: pixels(8);

	@media (experience: mobile) {
		width: pixels(672);
		margin-top: pixels(40);
	}
}

.suzerain-bonus-header {
	@media (experience: mobile) {
		width: pixels(540);
		margin-top: pixels(16);
		margin-bottom: pixels(12);
	}
}

.suzerain-bonus__choices-container {
	@media (experience: mobile) {
		width: pixels(560);
		margin-left: pixels(0);
		margin-right: pixels(8);
	}
}