@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/themes/default/_theme.scss';

.tut-default-highlight {
	filter: fxs-color-mask(theme.color('accent-1'));
	animation: highlightPulse 1.3s infinite;
	animation-fill-mode: forwards;
	z-index: 1;

	@keyframes highlightPulse {
		0% {
			transform: scale(1.0);
			opacity: 0.9;
		}

		30% {
			transform: scale(1.6);
		}

		90% {
			transform: scale(1.2);
			opacity: 0.2;
		}

		100% {
			transform: scale(1.0);
			opacity: 0.9;
		}
	}
}

.tut-container-highlight {
	pointer-events: none;
	filter: fxs-color-mask(theme.color('accent-1'));
	position: absolute;
	animation: highlightPulseContainer 1.8s infinite;
	animation-fill-mode: forwards;
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 1) 100%),
		linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 1) 100%);
	z-index: 1;

	&.production-highlight {
		top: pixels(-6);
		width: pixels(436);
		height: 100%;
		left: pixels(-20);
		border-radius: pixels(4);
		background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%),
			linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 1) 100%);
	}
}

@keyframes highlightPulseContainer {
	0% {
		transform: scale(1.0);
		opacity: 0.9;
	}

	30% {
		transform: scale(1.03);
	}

	60% {
		opacity: 0.1;
	}

	100% {

		opacity: 0.9;
	}
}

.tut-chooser-item-highlight {
	pointer-events: none;
	filter: fxs-color-mask(theme.color('accent-1'));
	position: absolute;
	top: pixels(0);
	bottom: pixels(0);
	left: pixels(0);
	right: pixels(0);
	animation-fill-mode: forwards;
	animation: highlightPulseBorder 1.3s infinite;
	animation-timing-function: linear;
	border: pixels(1) solid white;
	z-index: 1;
}

@keyframes highlightPulseBorder {
	0% {
		opacity: 0.5;
	}

	35% {
		opacity: 0.1;
	}

	65% {
		opacity: 0.9;
	}

	100% {
		opacity: 0.5;
	}
}

.tut-ping-pos-highlight {
	filter: fxs-color-mask(theme.color('accent-1'));
	position: absolute;
	background: radial-gradient(circle, rgba(240, 200, 144, 1) 0%, rgba(240, 200, 144, 1) 15%, rgba(240, 200, 144, .4) 30%, rgba(240, 200, 144, 0) 60%);
	animation: tutPingHighlightPulse 1.3s infinite;
	z-index: 1;
}

.tut-ping-pos-highlight-top {
	left: 50%;
	top: pixels(-15);
	margin-left: pixels(-15);
	width: pixels(30);
	height: pixels(30);
}

.tut-ping-pos-highlight-right {
	top: 50%;
	right: pixels(-15);
	margin-top: pixels(-15);
	width: pixels(30);
	height: pixels(30);
}

.tut-ping-pos-highlight-bottom {
	left: 50%;
	bottom: pixels(-15);
	margin-left: pixels(-15);
	width: pixels(30);
	height: pixels(30);
}

.tut-ping-pos-highlight-left {
	top: 50%;
	left: pixels(-15);
	margin-top: pixels(-15);
	width: pixels(30);
	height: pixels(30);
}

@keyframes tutPingHighlightPulse {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	35% {
		transform: scale(0);
		opacity: 0.1;
	}

	55% {
		transform: scale(1);
		opacity: 1.0;
	}

	75% {
		transform: scale(0);
		opacity: 0.1;
	}

	100% {
		transform: scale(0);
		opacity: 0;
	}
}

.tut-ping-arrow {
	background-image: url("fs://game/base_component-arrow.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	z-index: 2;
}

.tut-ping-arrow-top {
	left: 50%;
	top: pixels(-26);
	margin-left: pixels(-16);
	width: pixels(32);
	height: pixels(48);

	animation: tutPingArrowTopBounce 1.3s ease infinite;
}

.tut-ping-arrow-right {
	top: 50%;
	right: pixels(-24);
	margin-top: pixels(-24);
	width: pixels(32);
	height: pixels(48);

	animation: tutPingArrowRightBounce 1.3s ease infinite;
}

.tut-ping-arrow-bottom {
	left: 50%;
	bottom: pixels(-26);
	margin-left: pixels(-16);
	width: pixels(32);
	height: pixels(48);

	animation: tutPingArrowBottomBounce 1.3s ease infinite;
}

.tut-ping-arrow-left {
	top: 50%;
	left: pixels(-24);
	margin-top: pixels(-24);
	width: pixels(32);
	height: pixels(48);

	animation: tutPingArrowLeftBounce 1.3s ease infinite;
}

@keyframes tutPingArrowTopBounce {

	0% {
		transform: rotateZ(-90deg) translateX(pixels(24));
	}

	50% {
		transform: rotateZ(-90deg) translateX(pixels(0));
	}

	100% {
		transform: rotateZ(-90deg) translateX(pixels(24));
	}
}


@keyframes tutPingArrowRightBounce {

	0% {
		transform: translateX(pixels(24));
	}

	50% {
		transform: translateX(pixels(0));
	}

	100% {
		transform: translateX(pixels(24));
	}
}

@keyframes tutPingArrowBottomBounce {

	0% {
		transform: rotateZ(90deg) translateX(pixels(24));
	}

	50% {
		transform: rotateZ(90deg) translateX(pixels(0));
	}

	100% {
		transform: rotateZ(90deg) translateX(pixels(24));
	}
}


@keyframes tutPingArrowLeftBounce {

	0% {
		transform: scaleX(-1) translateX(pixels(24));
	}

	50% {
		transform: scaleX(-1) translateX(pixels(0));
	}

	100% {
		transform: scaleX(-1) translateX(pixels(24));
	}
}

.tut-circle-highlight {
	filter: fxs-color-mask(theme.color('accent-1'));
	width: 140%;
	height: 140%;
	border-radius: 50%;
	background: radial-gradient(circle, rgba(240, 200, 144, 0.0) 0%, rgba(240, 200, 144, 0.1) 42%, rgba(240, 200, 144, 1) 51%, rgba(240, 200, 144, 1) 59%, rgba(240, 200, 144, 0) 60%);
	animation: tutCirclePing 1.3s infinite;
	z-index: 1;
}

@keyframes tutCirclePing {
	0% {
		transform: scale(0.5);
		opacity: 0.1;
	}

	70% {
		transform: scale(1);
		opacity: 1.0;
	}

	100% {
		transform: scale(0.5);
		opacity: 0;
	}
}

.tut-arrow-vert {
	animation: bounce 2s ease infinite;
	position: absolute;
	width: pixels(72);
	height: pixels(136);
	background-image: url("fs://game/core/ui/themes/default/img/tutorial/FTUE-arrow.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(pixels(0));
	}

	40% {
		transform: translateY(pixels(-56));
	}

	60% {
		transform: translateY(pixels(-24));
	}
}

.advisor-recommendation__container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	&.hidden {
		display: none;
	}

	.advisor-recommendation__icon {
		width: pixels(32);
		height: pixels(32);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.recommendation-cultural {
		background-image: url("fs://game/adv_gem_cultural.png");
	}

	.recommendation-economic {
		background-image: url("fs://game/adv_gem_economic.png");
	}

	.recommendation-military {
		background-image: url("fs://game/adv_gem_militaristic.png");
	}

	.recommendation-scientific {
		background-image: url("fs://game/adv_gem_scientific.png");
	}
}