//THIS CLASS IS JUST TO EMULATE THE FXS-POPUPS CLASS---- DO NOT ADD///

@use '../../utilities/utility-layout' as *;
@use '../../utilities/utility-text' as *;

.unit-narrative__placement {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	width: 100%;
	height: 100%;
}

///*

.unit-narrative__container {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: pixels(400);
	width: pixels(1040);
	pointer-events: auto;
	font-size: pixels-font(12);
	transform: translate(0);
}

.unit-narrative__content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.unit-narrative__container-image {
	background-image: url("test_book_painting_replace.png");
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.unit-narrative__container-shadow {
	position: absolute;
	pointer-events: none;
	top: pixels(11);
	left: pixels(-10);
	right: pixels(-4);
	bottom: pixels(-19);
	border-image-source: url('fs://game/shadow_square.png');
	border-image-slice: 24 fill;
	border-image-width: pixels(36);
	border-image-outset: pixels(24);
	opacity: 0.5;
	filter: fxs-color-mask(var(--clr-overlay-shadow));

}

.unit-narrative__main-container {
	position: relative;
	flex: 1 1 auto;
	margin: pixels(0) pixels(26);
	padding: pixels(0) pixels(26);
}

.unit-narrative__scrollable-text {
	--mask-padding: 1.5;
}

.unit-narrative__scrollable-text>.fxs-scrollable-content-container {
	flex: initial;
}

.unit-narrative__main-container-frame {
	position: absolute;
	left: pixels(12);
	bottom: 1.5em;
	top: pixels(12);
	right: pixels(12);
	border-image-source: url('fs://game/core/ui/themes/default/img/Frame_small_flatTop_symm.png');
	border-image-width: pixels(24) pixels(24);
	border-image-slice: 24 fill;
	border-image-repeat: stretch;
	filter: fxs-color-tint(var(--clr-ornament__tint));
	pointer-events: none;
	opacity: 0.8;
}

.fxs-scrollable>.fxs-scrollable-container {
	right: pixels(0);
}

// stylelint-disable-next-line selector-max-combinators -- sandbox
.unit-narrative__container>div>div.unit-narrative__main-container>.fxs-scrollable>div.fxs-scrollbar-container {
	right: pixels(0);
}

.unit-narrative__button-container {
	margin: pixels(0) pixels(20) pixels(40) pixels(20);
	flex-direction: column;
	display: flex;
	position: relative;
	width: 100%;
}


.unit-narrative__choice-button {
	width: 100%;
	margin: pixels(8) pixels(0) pixels(-40) pixels(0);
	display: flex;
	flex-direction: column;
	text-align: center;
}

.unit-narrative__container-image-overlay {
	position: absolute;
	background: linear-gradient(130deg, rgba(226, 214, 161, 0.855) 0%, rgba(241, 233, 168, 0.23) 50%, rgba(247, 252, 217, 0.95) 100%);
}


.unit-narrative__choice-button-top {
	display: flex;
	flex-direction: column;
	position: relative;
	height: pixels(80);
	width: 100%;
	z-index: 1;
}

.unit-narrative__choice-button-top-main-bg {
	width: 100%;
	height: 100%;
	border-image-slice: 32 48 31 48 fill;
	border-image-width: pixels(32) pixels(48) pixels(31) pixels(48);
	filter: fxs-color-mask(var(--clr-bg--button));
	border-image-source: url("mask_top_narrative_button.png");
}

.unit-narrative__choice-button-top-highlight {
	top: pixels(8);
	position: absolute;
	width: 100%;
	height: 100%;
}

.unit-narrative__choice-button-top-highlight:hover {
	background: linear-gradient(90deg, rgba(237, 233, 187, 0) 10%, rgba(219, 218, 173, 0.6796919451374299) 49%, rgba(249, 248, 172, 0) 91%)
}

.unit-narrative__choice-button-top-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	border-image-slice: 32 48 31 48 fill;
	border-image-width: pixels(32) pixels(48) pixels(31) pixels(48);
	border-image-source: url("overlay_top_narrative_button.png");
}

.unit-narrative__choice-button-top-decorations {
	width: 100%;
	height: 100%;
	position: absolute;
}

.unit-narrative__button-wingding {
	top: pixels(18);
	left: pixels(16);
	position: absolute;
	width: pixels(24);
	height: pixels(40);
	opacity: 0.2;
	background-image: url("button_wingding.png");
	background-size: 100% 100%;
}

.unit-narrative__button-wingding-reverse {
	top: pixels(18);
	right: pixels(16);
	position: absolute;
	width: pixels(24);
	height: pixels(40);
	opacity: 0.2;
	background-image: url("button_wingding.png");
	background-size: 100% 100%;
	transform: scaleX(-1);
}


.unit-narrative__choice-button-bottom {
	position: relative;
	top: pixels(-48);
	min-height: pixels(96);
	margin: pixels(0) pixels(8);
}

.unit-narrative__choice-button-bottom-main-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	border-image-slice: 32 48 31 48 fill;
	border-image-width: pixels(32) pixels(48) pixels(31) pixels(48);
	border-image-source: url("mask_bottom_narrative_button.png");
}



.book_narrative__choice-button-text-top {
	font-family: "BodyFont";
	font-weight: 700;
	top: pixels(16);
	letter-spacing: pixels(1);
	padding: pixels(8) pixels(40);
	position: absolute;
	text-align: center;
	line-height: pixels(16);
}

.book_narrative__choice-button-text-bottom {
	font-family: "BodyFont";
	font-weight: 900;
	top: pixels(54);
	padding: pixels(8) pixels(40);
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: pixels(16);
}

.unit-narrative__rim-color {
	background-color: var(--clr-bg--button);
	background-image: linear-gradient(to right, rgba(10, 2, 13, .135)0%, transparent 40%, rgba(236, 224, 213, .135)50%, transparent 60%, rgba(10, 2, 13, .135)100%),
		linear-gradient(to right, rgba(10, 2, 13, .5) 0%, rgba(10, 2, 13, .1875) 15%, transparent 25%, rgba(236, 224, 213, .135) 50%, transparent 75%, rgba(10, 2, 13, .1875) 85%, rgba(10, 2, 13, .5)100%);
}

.unit-narrative__rim-bottom {
	position: absolute;
	height: pixels(7);
	left: pixels(-16);
	bottom: pixels(0);
}

.unit-narrative__rim-bottom-support {
	position: absolute;
	height: pixels(7);
	left: pixels(-8);
	bottom: pixels(8);
}

.unit-narrative__rim-container {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
}

.unit-narrative__rim-container--bottom {
	position: relative;
	display: flex;
	flex-direction: column;
}

.unit-narrative__rim-top {
	position: relative;
	height: pixels(7);
	flex: 1 1 auto;
}

.unit-narrative__rim-top-support {
	position: relative;
	height: pixels(7);
	flex: 1 1 auto;
	margin: pixels(0) pixels(16);
}

.unit-narrative__rim-top-shadow {
	position: absolute;
	top: pixels(-2);
	left: pixels(-6);
	right: pixels(-6);
	bottom: pixels(-10);
	border-image-source: url('fs://game/shadow_bar.png');
	border-image-slice: 6 20 8 20 fill;
	border-image-width: pixels(6) pixels(20) pixels(12) pixels(20);
	filter: fxs-color-mask(var(--clr-overlay-shadow));
}

.unit-narrative__rim-top-support-shadow {
	position: absolute;
	top: pixels(-2);
	left: pixels(-4);
	right: pixels(-4);
	bottom: pixels(-14);
	border-image-source: url('fs://game/shadow_bar.png');
	border-image-slice: 6 20 8 20 fill;
	border-image-width: pixels(6) pixels(20) pixels(12) pixels(20);
}

.unit-narrative__rim-bottom-shadow {
	position: absolute;
	top: pixels(4);
	left: pixels(-6);
	right: pixels(-3);
	height: pixels(12);
	border-image-source: url('fs://game/shadow_bar.png');
	border-image-slice: 6 20 8 20 fill;
	border-image-width: pixels(6) pixels(20) pixels(12) pixels(20);
}

.unit-narrative__decoration-center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex: 1 1 auto;
	position: relative;
	height: pixels(0);
	top: pixels(8);
}

.unit-narrative__top-decoration {
	background-image: url('narrative_decoration_top_book.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: pixels(112);
	height: pixels(112);
	z-index: 1;
}

.unit-narrative__text-container {
	position: relative;
	margin: pixels(20) pixels(20);
	padding: pixels(8);
	font-size: pixels-font(18);
	font-family: "BodyFont";
	line-height: pixels(25);
	//background-color: rgba(255, 255, 255, 0.1);
}

.unit-narrative__title-container {
	margin: pixels(40) pixels(24) pixels(8) pixels(24);
}

.unit-narrative__title-text {
	text-align: center;
	font-size: pixels-font(30);
	font-family: "TitleFont";
	letter-spacing: pixels(4);
}