@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/utilities/utility-shapes' as shapes;
@use '../../../core/ui/themes/default/baseColors';

.notification-panel-opener {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-right: pixels(32);
	margin-bottom: pixels(8);

	.notification-train__decor {
		position: absolute;
		width: pixels(16);
		height: 100%;

		border-width: pixels(48) pixels(16) pixels(12);
		border-style: solid;
		border-image-source: url('fs://game/hud_notif_decor.png');
		border-image-slice: 48 15 15 1 fill;
		border-image-width: pixels(48) pixels(15) pixels(15) pixels(1);
		border-image-outset: 0;
		border-image-repeat: repeat;
	}

	.nmo__button-bk {
		position: absolute;
		width: pixels(128);
		height: pixels(128);
		pointer-events: none;
		transform-origin: 50% 50%;
		transition-duration: .25s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		background-image: url("fs://game/hud_notif_bk.png");
		background-size: pixels(128) pixels(128);
		background-repeat: no-repeat;
		background-position: center;
		top: pixels(-25);
		left: pixels(-20);
	}

	.nmo__button {
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		pointer-events: auto;
		width: pixels(64);
		height: pixels(64);
		transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
		margin-top: pixels(27);
		margin-bottom: pixels(12);

		&.disabled {
			pointer-events: none;
		}

		&:hover,
		&:focus {
			transform: scale(1.125);
		}
	}

	.nmo__button-icon {
		transform: translate(pixels(30), pixels(13));
		width: pixels(32);
		height: pixels(32);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('fs://game/ntf_default.png');
		filter: brightness(1.375) grayscale(.25);
		margin-bottom: pixels(15);
	}

	.nmo__button-notification-amt {
		position: absolute;
		right: pixels(23);
		top: pixels(13);
		width: pixels(13);
	}
}