@use '../../../core/ui/utilities/utility-layout' as *;

.notifications-train-mobile {
	fxs-nav-help {
		.caption {
			display: none; // TODO fix nav-help to hide the caption
		}
	}
	
	.fxs-close-button {
		@media (experience:mobile) {
			top: pixels(30);
			right: pixels(30);
		}
	}

	.group-arrow {
		&:hover {
			filter: brightness(200%);
		}
	}

	.chooser-item__icon {
		background: none;
	}

	.chooser-item__icon_gradient {
		display: none;
	}

	.chooser-item__icon-image {
		background-size: contain !important;
		border-radius: 0;
	}
}