// @copyright 2020-2022, Firaxis Games

@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/themes/default/baseColors';
@use '../../../core/ui/themes/default/animations';
@use '../../../core/ui/themes/default/theme';

.build-queue {
	.fxs-close-button {
		right: pixels(-8);
		top: pixels(0);
		width: pixels(18);
		height: pixels(18);
		background-position: center;

		.fxs-nav-help {
			position: absolute;
			bottom: pixels(18);
			align-self: center;
		}
	}
}

.active-title,
.queued-title {
	background: linear-gradient(180deg, #333640 0%, rgba(35, 37, 43, 0.95) 100%);
}

.build-queue__item-container {
	border-image-source: url("fs://game/hud_sidepanel_list-bg.png");
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 8 8 8 8 fill;
	border-image-width: pixels(8) pixels(8) pixels(8) pixels(8);
	background: linear-gradient(180deg, #333640 0%, rgba(35, 37, 43, 0.95) 100%);

	&:hover,
	&:focus {
		.build-queue__item-container-hover {
			opacity: 1;
		}
	}
}

.build-queue__item-container-hover {
	border-image-source: url("fs://game/hud_list-focus_frame.png");
	border-image-slice: 20 32 20 32;
	border-image-width: pixels(20) pixels(32) pixels(20) pixels(32);
	border-image-outset: pixels(5);
	background: linear-gradient(90deg, theme.color('secondary-3') 0%, theme.color('accent-6', .5) 100%);
}

.build-queue__turn-icon {
	background-image: url('fs://game/hud_turn-timer.png');
	background-size: cover;
}

.build-queue__item-button--move-up {
	background-image: url('fs://game/city_queue_up.png');
	background-size: cover;
}

.build-queue__close-button {
	background-image: url('fs://game/city_queue_trash.png');
	background-size: cover;
}

.build-queue__item-progress-bar {
	background-image: url('fs://game/city_queue_bar_bk.png');
	background-size: cover;
}

.build-queue__progress-bar-fill {
	background-image: url('fs://game/city_queue_bar.png');
	background-size: cover;

	&.build-queue__progress-bar-fill-negative {
		background-image: url('fs://game/espionage_bar.png');
	}
}