@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/themes/default/theme';
@use '../../../core/ui/themes/default/baseColors';

@keyframes army-panel-slide-in {
	0% {
		opacity: 0;
		transform: translateX(pixels(32)) scaleX(0);
	}

	15% {
		opacity: 1;
	}

	80% {
		transform: translateX(pixels(-8)) scaleX(1);
	}

	100% {
		opacity: 1;
		transform: translateX(0) scaleX(1);
	}
}

@keyframes army-panel-slide-out {
	0% {
		opacity: 1;
		transform: translateX(0) scaleX(1);
	}

	85% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(pixels(150)) scaleX(.65);
	}
}

.army-panel {
	margin-bottom: pixels(24);
	// TODO: This is hacky and needs a re-layout 
	margin-top: pixels(-52);
	transform: translateX(0);
	transform-origin: right;

	&.army-panel--visible {
		animation: army-panel-slide-in .1s linear 0ms forwards;
	}

	&.army-panel--hidden {
		animation: army-panel-slide-out .15s linear 0ms forwards;
	}
}

.army-panel__action-button {
	--button-icon: url("fs://game/unitflag_missingicon.png");

	width: pixels(36);
	height: pixels(28);
	display: flex;
	justify-content: center;
	background-color: blanchedalmond;
	pointer-events: auto;
	margin: pixels(4);

	&:hover,
	&:focus,
	&.focused {

		.army-action-button__button-bg-highlight {
			opacity: 1;
		}
	}

	&.inactive {

		&:hover,
		&:focus,
		&.focused {

			.army-action-button__button-bg-highlight {
				opacity: 1;
			}
		}
	}
}

.army-action-button__button-bg-container {
	border-image: url("fs://game/hud_unit-panel_action");
	border-image-slice: 13 fill;
	border-image-width: auto;
	border-image-outset: pixels(10);
}

.army-action-button__button-bg-highlight {
	opacity: 0;
	transition-property: opacity;
	transition-duration: .25s;
	border-image: url("fs://game/hud_unit-panel_action-focus");
	border-image-slice: 13 fill;
	border-image-width: auto;
	border-image-outset: pixels(10);
}

.army-action-button__button-icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: var(--button-icon);
	transform-origin: 50% 50%;
}

.army-panel__units-background {
	border-image-source: url("fs://game/hud_unit-panel_bg");
	border-image-slice: 54 90 54 28 fill;
	border-image-width: pixels(54) pixels(90) pixels(54) pixels(28);
	border-image-outset: pixels(20) pixels(100) pixels(20) pixels(14);
}

.army-panel__action-panel-decor {
	border-image-source: url('fs://game/hud_unit-panel_bracket-lines.png');
	border-image-slice: 31 32 31 12 fill;
	border-image-width: pixels(33) pixels(32) pixels(33) pixels(12);
	border-image-outset: pixels(10) pixels(4) pixels(10) pixels(8);
}

.army-panel__commander-portrait-container {

	.army-panel__unit-button {
		margin: pixels(0);
		width: pixels(116);
		height: pixels(172);

		border-image: url("fs://game/hud_unit-panel_focus-frame");
		border-image-slice: 5 5 5 5 fill;
		border-image-width: auto;
		border-image-outset: pixels(0);
	}

	.army-panel__unit-portrait-container {
		width: pixels(116);
		height: pixels(172);
		border-image-source: none;
	}

	.army-panel__unit-portrait-image {
		width: pixels(110);
		height: pixels(167);
	}

	.army-panel__unit-health-bar-container {
		right: pixels(0);
	}
}

.army-panel__unit-button {
	--button-icon: url("fs://game/unitflag_missingicon.png");

	display: flex;
	align-items: center;
	justify-content: center;
	margin: pixels(4);

	pointer-events: auto;

	&:hover,
	&:focus,
	&.focused {
		border-image: url("fs://game/hud_unit-panel_focus-frame");
		border-image-slice: 5 5 5 5 fill;
		border-image-width: auto;
		border-image-outset: pixels(0);

		.button-highlight {
			opacity: 1;
		}
	}

	&.inactive {

		&:hover,
		&:focus,
		&.focused {
			.button-highlight {
				opacity: 0;
			}
		}
	}

	&.isTraveling {
		opacity: .6;

		.army-panel__turn-counter-container {
			visibility: visible;
		}

		.army-panel__unit-health-bar-container {
			visibility: hidden;
		}
	}

	&.noUnit {
		.army-panel__unit-portrait-image {
			background-image: url("fs://game/hud_unit-panel_empty-slot");
			visibility: hidden;
		}

		.army-panel__unit-portrait-container {
			visibility: hidden;
		}

		.army-panel__unit-health-bar-container {
			visibility: hidden;
		}

		.army-panel__unit-portrait-image {
			visibility: visible;
		}
	}

	&.locked {
		.army-panel__lock-icon {
			visibility: visible;
		}
	}
}

.army-panel__unit-portrait-container {
	border-image: url("fs://game/hud_unit-panel_action-focus-hi");
	border-image-slice: 5 5 5 5 fill;
	border-image-width: auto;
	border-image-outset: pixels(13);

}

.army-panel__unit-portrait-bg {
	border-image: url("fs://game/hud_unit-panel_empty-slot");
	border-image-slice: 5 5 5 5 fill;
	border-image-width: auto;
}

.army-panel__unit-portrait-image {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("fs://game/unitflag_missingicon.png");
}

.army-panel__unit-health-bar-bg {
	background-color: theme.color('healthbar-full-bg');
}

.army-panel__unit-health-bar-fill {
	--health-percentage: 100%;
	width: var(--health-percentage);
	background-color: theme.color('healthbar-full');
}

.army-panel__low-health-bar {
	background-color: theme.color('healthbar-low');
}

.army-panel__low-health-bar-bg {
	background-color: theme.color('healthbar-low-bg');
}

.army-panel__med-health-bar {
	background-color: theme.color('healthbar-medium');
}

.army-panel__med-health-bar-bg {
	background-color: theme.color('healthbar-medium-bg');
}

.army-panel__turn-counter-container {
	opacity: 1;
	visibility: hidden;

	.step-turn-container {
		position: relative;
		align-items: center;
		opacity: 1;
	}

	.step-turn-number {
		color: white;
	}
}

.army-panel__lock-icon {
	background-image: url("fs://game/icon_lock.png");
	background-size: contain;
	background-repeat: no-repeat;
	visibility: hidden;
}