@use '../utilities/utility-layout' as *;

screen-mp-chat {
	.mp-chat__input-container {
		fxs-nav-help {
			margin-right: pixels(-4);
		}
	}

	.mp-chat__preview {
		.fxs-scrollbar-container {
			top: 0;
		}
	}

	.mp-chat__unread-button-icon {
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("fs://game/shell_back-button.png");
		transform: rotate(270deg);

		&:focus,
		&:hover {
			background-image: url("fs://game/shell_back-button-focus.png");
		}
	}

	.mp-chat__text-shrink {
		coh-font-fit-mode: shrink;
		white-space: nowrap;
		max-width: 100%;
	}
}