@use '../../utilities/utility-layout' as *;

@mixin create-game-divider-style {
	content: '';
	margin-top: pixels(12);
	margin-bottom: pixels(12);
	width: 100%;
	height: pixels(1);
}

@mixin create-game-options-divider {
	&::after {
		@include create-game-divider-style;
	}

	&:last-child::after {
		display: none;
	}
}

.mp-create-game {

	.main-container {

		.option-row {
			@include create-game-options-divider;
		}
	}
}