@use 'sass:math';
@use 'sass:map';
@use '../../../core/ui/utilities/utility-layout' as *;

.sub-system-dock {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	align-self: flex-end;
	margin-top: pixels(16);
}

.sub-system-dock--button-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	padding-bottom: pixels(24);
}

.sub-system-dock--golden-age-ring {
	background-image: url('blp:hud_sub_golden');
}

.sub-system-dock--golden-age-timer-bg {
	bottom: pixels(-68);
	background-color: rgba(40, 40, 40, 0.5);
}

// these values are taken from the figma designs,
// buttons have an outer size which includes the shadow, inner size is the interactable area
$age-button-size: 128;
$age-button-size-inner: 88;
$age-button-shadow-size: $age-button-size - $age-button-size-inner;
$age-button-overlap: 71;

$mobile-age-button-size: 153.6;
$mobile-age-button-size-inner: 105.6;
$mobile-age-button-shadow-size: $mobile-age-button-size - $mobile-age-button-size-inner;
$mobile-age-button-overlap: 85.2;

$techcivic-button-size: 128;
$techcivic-button-size-inner: 77;
$techcivic-button-shadow-size: $techcivic-button-size - $techcivic-button-size-inner;
$techcivic-button-overlap: 82;

$mobile-techcivic-button-size: 153.6;
$mobile-techcivic-button-size-inner: 92.4;
$mobile-techcivic-button-shadow-size: $mobile-techcivic-button-size - $mobile-techcivic-button-size-inner;
$mobile-techcivic-button-overlap: 98.4;

$button-size: 64;
$button-size-inner: 52;
$button-shadow-size: $button-size - $button-size-inner;

$mobile-button-size: 76.8;
$mobile-button-size-inner: 62.4;
$mobile-button-shadow-size: $mobile-button-size - $mobile-button-size-inner;

.ssb__element {
	width: pixels($button-size-inner);
	height: pixels($button-size-inner);
	@media (experience: mobile) {
		width: pixels($mobile-button-size-inner);
		height: pixels($mobile-button-size-inner);
	}
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	&:last-child {
		margin-right: 0;
	}

	// buttons without rings
	&.ssb__button {
		margin: pixels(calc($button-shadow-size / 2));
		margin-top: pixels(10);
	}

	&.disabled {
		pointer-events: none;
	}

	&:hover .ssb__button-iconbg--hover {
		opacity: 1;
	}

	&:active,
	&:focus {
		.ssb__button-iconbg--active {
			opacity: 1;
		}
	}



	&:last-child {
		margin-right: 0;
	}
}

.ssb__element.agetimer,
.ssb__element.ageextended {
	width: pixels($age-button-size);
	height: pixels($age-button-size);

	// accounts for the shadow
	margin: pixels(calc(($age-button-shadow-size - $age-button-overlap) / 2));
	margin-left: pixels(calc($age-button-shadow-size / 2));

	@media (experience: mobile) {
		width: pixels($mobile-age-button-size);
		height: pixels($mobile-age-button-size);

		// accounts for the shadow
		margin: pixels(calc(($mobile-age-button-shadow-size - $mobile-age-button-overlap) / 2));
		margin-left: pixels(calc($mobile-age-button-shadow-size / 3.5));
	}
}


.ssb__element.tech,
.ssb__element.civic {
	width: pixels($techcivic-button-size);
	height: pixels($techcivic-button-size);
	// accounts for the shadow
	margin: pixels(calc(($techcivic-button-shadow-size - $techcivic-button-overlap) / 2));

	@media (experience: mobile) {
		width: pixels($mobile-techcivic-button-size);
		height: pixels($mobile-techcivic-button-size);
		margin: pixels(calc(($mobile-techcivic-button-shadow-size - $mobile-techcivic-button-overlap) / 2));
	}	
}

.ssb__element.agetimer,
.ssb__element.ageextended {

	.fxs-ring-meter__ring-left,
	.fxs-ring-meter__ring-right {
		background-image: url('blp:hud_age_circle_rad');
	}
}

.ssb__element.tech {

	.fxs-ring-meter__ring-left,
	.fxs-ring-meter__ring-right {
		background-image: url('blp:hud_tech_circle_rad');
	}
}

.ssb__element.civic {

	.fxs-ring-meter__ring-left,
	.fxs-ring-meter__ring-right {
		background-image: url('blp:hud_civic_circle_rad');
	}
}

.ssb__texture-ring {
	.fxs-ring-meter__ring-left {
		background-size: cover;
		background-position: left;
	}

	.fxs-ring-meter__ring-right {
		background-size: cover;
		background-position: right;
	}
}

.ssb__button {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: auto;

	width: pixels($button-size-inner);
	height: pixels($button-size-inner);

	@media (experience: mobile) {
		width: pixels($mobile-button-size-inner);
		height: pixels($mobile-button-size-inner);
	}

	&.hud-select-potential:focus {
		transform: scale(1.3);
		z-index: 1;

		.ssb__button-highlight {
			opacity: .875;
		}
	}
}

$icon-states: (
	"idle",
	"hover",
	"active",
	"disabled"
);
$subsystem-iconbg-state-map: (
	"agetimer": ("idle": "hud_age_circle_bk", "hover": "hud_age_circle_hov", "active": "hud_age_circle_prs", "disabled": "hud_age_circle_dis"),
	"ageextended": ("idle": "hud_age_circle_bk", "hover": "hud_age_circle_hov", "active": "hud_age_circle_prs", "disabled": "hud_age_circle_dis"),
	"tech": ("idle": "hud_tech_circle_bk", "hover": "hud_tech_circle_hov", "active": "hud_tech_circle_prs", "disabled": "hud_tech_circle_dis"),
	"civic": ("idle": "hud_civic_circle_bk", "hover": "hud_civic_circle_hov", "active": "hud_civic_circle_prs", "disabled": "hud_civic_circle_dis"),
	"default": ("idle": "hud_sub_circle_bk", "hover": "hud_sub_circle_hov", "active": "hud_sub_circle_prs", "disabled": "hud_sub_circle_dis")
);

@each $subsystem,
$subsystem-states in $subsystem-iconbg-state-map {
	@if $subsystem !="default" {
		.ssb__button-iconbg.#{$subsystem} {
			width: pixels($age-button-size);
			height: pixels($age-button-size);
			@media (experience: mobile) {
				width: pixels($mobile-age-button-size);
			height: pixels($mobile-age-button-size);
			}
			background-image: url('blp:#{map.get($subsystem-states, "idle")}');
		}
	}

	@else {
		.ssb__button-iconbg {
			background-image: url('blp:#{map.get($subsystem-states, "idle")}');
		}
	}

	@each $state,
	$icon in $subsystem-states {
		@if $subsystem !="default" {
			.ssb__button-iconbg--#{$state}.#{$subsystem} {
				opacity: 0;
				background-image: url('blp:#{$icon}');
			}
		}

		@else {
			.ssb__button-iconbg--#{$state} {
				opacity: 0;
				background-image: url('blp:#{$icon}');
			}
		}
	}
}

.ssb__button-iconbg {
	position: absolute;
	pointer-events: none;
	width: pixels($button-size);
	height: pixels($button-size);
	@media (experience: mobile) {
		width: pixels($mobile-button-size);
		height: pixels($mobile-button-size);
	}
	background-size: contain;
	background-repeat: no-repeat no-repeat;
	background-position: center;

	transition: opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

$subsystem-icon-map: (
	"agetimer": "sub_agetimer",
	"ageextended": "hud_omt_infinity",
	"tech": "sub_tech",
	"civic": "sub_civics",
	"gov": "sub_govt",
	"religion": "sub_religion",
	"resources": "sub_resource",
	"greatworks": "sub_greatworks",
	"unlocks": "sub_unlock",
	"advanced-start": "sub_advstart"
);

@each $subsystem,
$icon in $subsystem-icon-map {
	.ssb__button-icon.#{$subsystem} {
		background-image: url('blp:#{$icon}');
	}
}

.ssb__button-icon {
	position: absolute;
	pointer-events: none;
	width: pixels($button-size);
	height: pixels($button-size);
	@media (experience: mobile) {
		width: pixels($mobile-button-size);
		height: pixels($mobile-button-size);
	}
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat no-repeat;
}

.ssb-button__turn-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	pointer-events: auto;
	left: 0;
	right: 0;
	bottom: pixels(8);
	height: pixels(16);
	text-align: center;
}

.ssb-button__turn-counter--hidden {
	display: none;
}