@use '../../../../core/ui/utilities/utility-layout' as *;
@use '../../../../core/ui/themes/default/theme';

// TODO: Replace this with UI2 styles when available

pop-up {
	position: relative;
	height: 100%;
	width: 100%;

	&.top-center .popup-content {
		top: pixels(24);
		left: 50%;
	}

	&.top-left .popup-content {
		top: pixels(24);
		left: pixels(24);
	}

	&.top-right .popup-content {
		top: pixels(24);
		right: pixels(24);
	}

	&.middle-left .popup-content {
		top: 50%;
		left: pixels(24);
	}

	&.middle-center .popup-content {
		top: 50%;
		left: 50%;
	}

	&.middle-right .popup-content {
		top: 50%;
		right: pixels(24);
	}

	&.bottom-left .popup-content {
		bottom: pixels(24);
		right: pixels(24);
	}

	&.bottom-center .popup-content {
		bottom: pixels(24);
		right: 50%;
	}


	&.bottom-right .popup-content {
		bottom: pixels(24);
		right: pixels(24);
	}
}

.popup-content {
	color: theme.color('accent-2');
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	align-self: center;

	animation-name: popup-anim;
	animation-duration: .5s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-fill-mode: both;
	transform-origin: center;

}

.popup-body {
	margin: pixels(20);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popup-shadow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-image-source: url('fs://game/shadow_square.png');
	border-image-slice: 18 fill;
	border-image-width: pixels(68);
	border-image-outset: pixels(50) pixels(56);
	z-index: -1;
	opacity: .875;
}

.popup-body-text1,
.popup-body-text2 {
	margin: pixels(8);
}

.popup-frame {
	position: absolute;
	left: pixels(4);
	right: pixels(4);
	top: pixels(4);
	bottom: pixels(4);
	border-image: url("fs://game/Frame_large_symmetrical_inverted.png");
	border-image-width: pixels(24);
	border-style: solid;
	border-image-slice: 24 fill;
	border-image-repeat: stretch;
	filter: fxs-color-mask(theme.$default-color-secondary-accent);
}

@keyframes popup-anim {
	from {
		opacity: 0;
		transform: scale(0);
	}
}