@use '../../utilities/utility-layout' as *;
@use '../../utilities/utility-text' as *;

.test-texture__page {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: rgb(100, 100, 100);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.test-texture__container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: pixels(120);
}

.test-texture__image-container {
	position: relative;
	width: pixels(128);
	height: pixels(64);
	margin: pixels(0) pixels(32);
	flex-wrap: nowrap;
	white-space: nowrap;
}

.test-texture__label {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	top: -100%;
	bottom: 100%;
	padding-bottom: pixels(24);
	align-self: center;
	font-size: pixels-font(17);
	line-height: pixels(24);
	color: white;
	font-family: "BodyFont";
	overflow-wrap: break-word;
	white-space: pre-wrap;

	height: auto;
	text-align: center;
	width: pixels(160);
}

.test-texture__image-bg {
	position: absolute;
	width: 100%;
	height: 100%;

	&.image-bg--plain {
		background-color: rgb(244, 220, 195);
	}

	&.image-basic-bg--raw {
		background-image: url("fs://game/core/ui/sandbox/texture-test/img/mask_diplomacy-support-button.png");
		background-size: pixels(64) pixels(64);
		background-repeat: no-repeat;
		background-position: center;
		filter: fxs-color-mask(rgb(244, 220, 195));
	}

	&.image-bg--raw {
		border-image-source: url("fs://game/core/ui/sandbox/texture-test/img/mask_diplomacy-support-button.png");
		border-image-slice: 32 44 32 14 fill;
		border-image-width: pixels(32) pixels(44) pixels(32) pixels(14);
		filter: fxs-color-mask(rgb(244, 220, 195));
	}

	&.image-bg--cooked {
		border-image-source: url("fs://game/mask_diplomacy-support-button.png");
		border-image-slice: 32 44 32 14 fill;
		border-image-width: pixels(32) pixels(44) pixels(32) pixels(14);
		filter: fxs-color-mask(rgb(244, 220, 195));
	}

	&.image-overlay--raw {
		background-image: url("fs://game/core/ui/sandbox/texture-test/img/overlay_diplomacy-support-button.png");
		background-size: pixels(128) pixels(64);
		background-repeat: no-repeat;
		background-position: center;
	}

	&.image-overlay--cooked {
		background-image: url("fs://game/overlay_diplomacy-support-button.png");
		background-size: pixels(128) pixels(64);
		background-repeat: no-repeat;
		background-position: center;
	}
}