@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/themes/default/theme';
@use '../../../core/ui/themes/default/baseColors';

.continents__distant-icon {
	background-image: url("fs://game/restype_distant");
}

.continent-frame {
	position: absolute;
	min-width: pixels(386);
	@media (experience: mobile) {
		padding-left: 0;
		padding-right: 0;
	}
}

.panel-continents {
	@media (experience: mobile) {
		position: absolute;
		top: pixels(55);
		left: pixels(24);
		bottom: 0;
		min-width: pixels(386);
		pointer-events: auto;
	}
}