<?xml version="1.0" encoding="utf-8" ?>
<Database>
	<Maps>
		<Row
            File="{epic-diverse-huge-map}maps/epic-diverse-huge.js"
            Name="LOC_MAP_EPIC_DIVERSE_HUGE_NAME"
            Description="LOC_MAP_EPIC_DIVERSE_HUGE_DESCRIPTION"
            SortIndex="100"
        />
        <Row
            File="{epic-diverse-huge-map}maps/epic-diverse-huge-temperate.js"
            Name="LOC_MAP_EPIC_DIVERSE_HUGE_TEMPERATE_NAME"
            Description="LOC_MAP_EPIC_DIVERSE_HUGE_TEMPERATE_DESCRIPTION"
            SortIndex="101"
        />
	</Maps>
</Database>
