@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-shapes' as shapes;
@use '../../../core/ui/themes/default/baseColors';

.ps-btn {
	cursor: pointer;
	pointer-events: auto;
	width: pixels(36);
	height: pixels(36);
	position: absolute;

	&.disabled {
		pointer-events: none;
	}

	div {
		pointer-events: none;
	}

	&.hud-select-potential {
		&:focus {
			background-color: baseColors.$highlight-color;

			&.ps-bar-multiplayer-code {
				background-color: transparent;
			}
		}
	}
}

.ps-btn-icon {
	position: absolute;
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: baseColors.$highlight-color-matrix;
	top: pixels(8);
	bottom: pixels(8);
	left: pixels(8);
	right: pixels(8);
}