@use 'sass:color';
@use '../../../core/ui/themes/default/theme';
@use '../../../core/ui/utilities/utility-shapes' as shapes;
@use '../../../core/ui/themes/default/baseColors';
@use '../../../core/ui/themes/default/animations';
@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;

@keyframes showMultiplayerCode {
	0% {
		transform: translate(pixels(240));
	}

	100% {
		transform: translate(pixels(0));
	}
}

@keyframes hideMultiplayerCode {
	0% {
		transform: translate(pixels(0));
	}

	100% {
		transform: translate(pixels(240));
	}
}

.system-bar-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: pixels-font(12);

	>.fxs-button {
		margin-left: pixels(16);
	}

	.ps-btn {
		position: relative;
	}
}

.ps-content-wrapper {
	position: relative;
	height: 3em;
	max-height: pixels(30);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.ps-turn-info {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	&::before {
		content: '';
		width: 1.5em;
		max-width: pixels(15);
		height: 100%;
	}
}

.game-code {
	width: pixels(240);
}

.ps-turn-multiplayer-code {
	width: auto;
}

.ps-spacer {
	position: relative;
	width: 1.5em;
	max-width: pixels(15);
	height: 100%;
}

.ps-icon-container {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.ps-bar-civilopedia {
	width: 5.5em;
	height: 5.5em;
	max-width: pixels(46);
	max-height: pixels(46);
	@media (experience: mobile) {
		width: pixels(56);
		height: pixels(56);
		max-width: pixels(56);
		max-height: pixels(56);
		margin-left: pixels(16);
		margin-right: pixels(14);
	}
}

.ps-bar-pause {
	@media (experience: mobile) {
		width: pixels(60);
		height: pixels(60);
		margin-right: pixels(12);
	}
}

.ps-wrapper-multiplayer {
	height: 3em;
	max-height: pixels(30);
	transform: translate(pixels(240));

	.ps-btn-icon {
		filter: fxs-color-tint(var(--player-color-primary));
	}
}

.ps-content-wrapper-multiplayer {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-left: pixels(4);
	padding-right: pixels(8);
}

.radial-menu-mode .ps-content-wrapper-multiplayer.focused {
	background-color: baseColors.$highlight-color;
	color: baseColors.$base-dark-color;
}

.show-multiplayer-code {
	animation: .5s ease-in-out both showMultiplayerCode;
}

.hide-multiplayer-code {
	animation: .5s ease-in-out both hideMultiplayerCode;
}

.screen-turntimer_text_turn_active {
	color: rgb(121, 189, 43);
}

.screen-turntimer_text_turn_active_flash {
	color: rgb(246, 74, 74);
}

.screen-turntimer_text_turn_inactive {
	color: rgb(65, 116, 255);
}