@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/utilities/utility-shapes' as shapes;
@use '../../../core/ui/themes/default/baseColors.scss';
@use '../../../core/ui/themes/default/theme';


.pantheon-chooser-window_bg {
	width: pixels(400);
	height: pixels(982);
}

.pantheon-list-container_icon {
	width: pixels(76);
	height: pixels(76);

	background-image: url("fs://game/hud_civics-icon_frame.png");
	background-size: cover;
}

.pantheon-list-container_icon-image {
	height: pixels(56);
	width: pixels(56);

	background-image: url("fs://game/base-standard/ui/icons/chooser_icons/chooser_animalhusbandry.png");
	background-size: 120% 120%;
	border-radius: 100%;
}

.screen-pantheon-chooser {
	.pantheon-frame {
		@media (experience: mobile) {
			margin-top: pixels(70);
			margin-bottom: pixels(12);
			max-width: pixels(700);
		}
	}
	.pantheon-chooser_choose-x-pantheons {
		@media (experience: mobile) {
			width: auto;
			margin-top: pixels(12);
		}
	}

	.pantheon-chooser_pantheon-container {
		@media (experience: mobile) {
			width: auto;
		}
	}
}