@use 'sass:math';
@use '../../themes/default/theme';
@use '../../utilities/utility-layout' as *;
@use '../../utilities/utility-text' as *;

.screen-events {
	height: 95%;
	width: auto;
	pointer-events: auto;

	.events-menu {
		margin-top: pixels-rel(24);
		width: pixels(440);
	}

	.events-menu-top {
		background-image: url("fs://game/shell_top-filigree.png");
		width: pixels(300);
		height: pixels(18);
	}

	.events-menu-divider {
		background-image: url("fs://game/shell_simple-div.png");
		width: pixels(400);
		height: pixels(32);
		margin-top: pixels(16);
	}

	.events-menu-item {
		pointer-events: auto;

		&:hover,
		&:focus {
			border-bottom-style: solid;
			border-bottom-width: pixels(1);
			border-bottom-color: theme.color('accent-1');
			color: theme.color('accent-1');
		}
	}

	.events-description {
		position: relative;
		padding-top: pixels(24);
		padding-bottom: pixels(24);
		width: 95%;
	}

	.events-info {
		border-image-source: url("fs://game/hud_unit-panel_box-bg.png");
		border-image-slice: 30 20 30 20 fill;
		border-image-width: auto;
		border-image-outset: pixels(17) pixels(13);
		width: pixels(800);
	}

	.events-desc-hslot {
		width: 45vw;
		justify-content: space-between;
		border-bottom-style: solid;
		border-bottom-width: pixels(1);
		border-bottom-color: theme.color('accent-1');
	}

	.events-desc-hslot {
		width: 100%;
	}

	.events-banner {
		background-image: url('fs://game/bn_default.png');
	}

	.events-scrollable {

		.fxs-scrollable-content {
			max-width: 95%;
		}
	}

	.events-rules {
		margin-top: pixels-rel(32);
	}
}