@use '../../themes/default/theme';
@use '../../utilities/utility-layout' as *;
@use '../../utilities/utility-text' as *;

.clickable-link {
	color: theme.color('secondary-1');
	cursor: pointer;

	&:hover {
		text-decoration-line: underline;
		text-decoration-color: theme.color('secondary-1');
	}
}