@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;

.small-narrative-event {
	width: pixels(570);
	transform-origin: 0% 100%;

	.fxs-nav-help {
		position: absolute;
		top: pixels(8);
		left: pixels(8);
	}
}