@use '../../utilities/utility-layout' as *;
@use '../../themes/default/_baseColors.scss';

.hex-bord {
	position: absolute;
	left: 2.55%;
	top: 2.55%;
	width: 95%;
	height: 95%;
	filter: baseColors.$accent-color-matrix;
}

.hex-bord-piece {
	position: absolute;
	height: 50%;
	width: 86.52%;
	left: 6.74%;
	top: 25%;
	background-color: transparent;
	transform-origin: center;
	transform: rotate(0deg);
	border-width: pixels(0);
	border-left-width: pixels(2);
	border-right-width: pixels(2);
	border-style: solid;
	border-color: white;

	&.hex-2 {
		transform: rotate(-60deg);
	}

	&.hex-3 {
		transform: rotate(-120deg);
	}
}