@use '../../../core/ui/utilities/utility-layout' as *;

save-indicator {
	margin-bottom: pixels(16);
	margin-left: 1em;

	.no-pad-margin {
		margin: 0;
		padding: 0;

		p {
			margin: 0;
			padding: 0;
		}
	}

	.background-container {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.save-indicator__icon {
		background-image: url('fs://game/ba_default.png');
		width: 4em;
		height: 4em;
		margin-left: 1.5em;
		background-size: cover;
	}
}


@keyframes save-indicator-hide__anim {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.save-indicator-hide {
	animation-name: save-indicator-hide__anim;
	animation-duration: 2s;
}