@use '../../utilities/utility-layout' as *;

.game-creator-leader-info-content {
	@media (experience: mobile) {
		width: pixels(360);
	}
}

.game-creator-main-box {
	border-image-source: url("fs://game/hud_unit-panel_box-bg.png");
	border-image-slice: 30 20 30 20 fill;
	border-image-width: pixels(30) pixels(20) pixels(30) pixels(20);
	border-image-outset: pixels(17) pixels(13);

	width: pixels(598);
	margin-left: pixels(60);
	margin-bottom: pixels(52);

	@media (max-width: pixels(1600)) {
		margin-left: pixels(36);
		width: pixels(460);
	}

	@media (max-height: pixels(1000)) {
		margin-bottom: pixels(36);
	}

}

.game-creator-details-box {
	width: pixels(558);
	margin-left: pixels(23);
	margin-top: pixels(20);
	margin-bottom: pixels(52);

	@media (max-width: pixels(1600)) {
		width: pixels(480);
		margin-left: pixels(15);
	}

	@media (max-height: pixels(1024)) {
		margin-top: 0;
	}

	@media (experience: mobile) {
		flex: 1 1 0%;
		width: auto;
		max-width: pixels(550);

		@media (max-width: pixels(1280)) {
			max-width: pixels(400);
		}
	}
}

.game-creator-back-button {
	background-image: url("fs://game/shell_back-button.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: pixels(44);
	height: pixels(44);

	&:focus,
	&:hover {
		background-image: url("fs://game/shell_back-button-focus.png");
	}
}

.game-creator-random-button {
	background-image: url("fs://game/shell_arrow-button.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: pixels(44);
	height: pixels(44);

	&:focus,
	&:hover {
		background-image: url("fs://game/shell_arrow-button-focus.png");
	}
}

.game-creator-nav-button {
	border-image-source: url("fs://game/shell_create-tab-bg.png");
	border-image-slice: 16 96 36 96 fill;
	border-image-width: pixels(16) pixels(96) pixels(36) pixels(96);
	border-image-outset: pixels(6) pixels(8) pixels(16) pixels(8);
	background: linear-gradient(270deg, #4C473D 0%, #35373D 50%, #4C473D 100%);

	min-width: pixels(300);
	min-height: pixels(40);
	margin: pixels(6);
	padding: pixels(0) pixels(8);

	&:focus,
	&:hover {
		background: linear-gradient(270deg, #8C7E62 0%, #B4975E 0.01%, #584C32 35%, #584C32 65%, #B4975E 100%);
	}
}

.game-creator-nav-button-selected {
	border-image-source: url("fs://game/shell_create-tab-bg-focus.png");
}

.game-creator-leader-info {
	border-image-source: url("fs://game/hud_unit-panel_box-bg.png");
	border-image-slice: 30 20 30 20 fill;
	border-image-width: pixels(30) pixels(20) pixels(30) pixels(20);
	border-image-outset: pixels(17) pixels(13);

	min-width: pixels(433);
	max-width: pixels(660);

	@media (max-width: pixels(1680)),
	(experience: mobile) {
		min-width: pixels(230);
		max-width: pixels(240);

		.filigree-panel-top-special {
			min-width: pixels(200);
			max-width: pixels(210);
			background-size: contain;
			margin-top: pixels(-20);
		}

		.font-title-2xl {
			font-size: calc(1rem + pixels(8));
		}

		.game-creator-leader-info-name {
			flex-direction: column;
			align-content: center;
			text-align: center;
			margin-top: pixels(8);
		}
	}

	@media (max-height: pixels(1000)),
	(experience: mobile) {
		.filigree-panel-top-special {
			margin-top: pixels(5);
			max-width: pixels(220);
		}
	}

	@media (experience: mobile) {
		min-width: pixels(314);
		max-width: pixels(314);

		.filigree-panel-top-special {
			width: pixels(308);
			min-width: pixels(0);
			background-size: contain;
			position: absolute;
			top: pixels(-23);
		}
	}
}

.game-creator-random-leader {
	background-image: url("fs://game/shell_leader-silhouette");
	background-repeat: no-repeat;
	background-size: contain;
}