@use '../../utilities/utility-layout' as *;
@use '../../themes/default/theme';

.advanced-options_frame {
	max-width: pixels(1280);
}

// @media (max-width: 1280px) {
// 	.advanced-options_frame {
// 		max-width: 100%;
// 	}
// }

.advanced-options__back-button {
	background-image: url("blp:shell_back-button");

	&:hover,
	&:focus {
		background-image: url("blp:shell_back-button-focus");
	}
}

.advanced-options__dropdown-bg {
	border-image-source: url("blp:shell_advanced-options_subheader");
	border-image-slice: 0 0 0 1 fill;
	border-image-width: 0 0 0 pixels(1);
}

.advanced-options__dropdown-bg-highlight {
	border-image-source: url("blp:shell_advanced-options_subheader_highlight");
	border-image-slice: 0 0 0 1 fill;
	border-image-width: 0 0 0 pixels(1);
}

.advanced-options__header-decor {
	border-image-source: url("blp:hud_unit-panel_divider-center");
	border-image-slice: 5 6 0 6 fill;
}

.advanced-options__save-config {
	background-image: url("blp:set_save_config");

	&:hover {
		background-image: url("blp:set_save_config-focus");
	}
}

.advanced-options__load-config {
	background-image: url("blp:set_load_config");

	&:hover {
		background-image: url("blp:set_load_config-focus");
	}
}

.advanced-options_add-player-plus {
	background-image: url("blp:set_add-focus");
}

.advanced-options__warning-icon {
	background-image: url("blp:unit_badge");
}