@use '../../utilities/utility-layout' as *;
@use '../../themes/default/_baseColors.scss';
@use '../../themes/default/_animations.scss';
@use '../../themes/default/_theme.scss';

.civ-bonus-icon {
	width: pixels(71);
	height: pixels(71);
}

.civ-select-panel-civ-name {
	font-size: pixels(54);
}

.civ-select-caption-field {
	padding: pixels(8);
	background-color: theme.color('primary-5', $alpha: .85);

	@media(max-width: 1680px) {
		max-width: pixels(360);
	}

	@media(max-width: 1280px) {
		max-width: pixels(240);
	}

	@media(max-width: 1400px) {
		visibility: hidden;
	}

	@media (experience: mobile) {
		min-width: pixels(314);
		max-width: pixels(314);
	}
}