@use '../../utilities/utility-layout' as *;
@use '../../themes/default/theme';

.learn-more-icon {
	width: pixels(120);
	height: pixels(120);

	@media (max-height: pixels(1000)) {
		width: pixels(72);
		height: pixels(72);
	}
}

.learn-more-icon-frame {
	top: pixels(-2);
	filter: fxs-color-tint(#888);
}

.learn-more-icon-bg {
	filter: fxs-color-tint(theme.color("primary-5"));
	background-size: pixels(128) pixels(128);
	background-position: pixels(-4) pixels(-5);

	@media (max-height: pixels(1000)) {
		background-size: pixels(76) pixels(76);
		background-position: pixels(-2) pixels(-2);
	}
}

.learn-more-filigree {
	margin-top: pixels(-60);

	@media (max-height: pixels(1000)) {
		margin-top: pixels(-36);
	}
}