@use '../../utilities/utility-layout' as *;

@media (max-height: pixels(900)) {
	.memento-editor-frame {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.memento-circle-focus {
	border-image-source: url("fs://game/memento_circle-focus");
	border-image-slice: 32 fill;
	border-image-width: pixels(64) pixels(64);
}

.memento-shell-line-divider {
	border-image: url("shell_line-divider");
	border-image-slice: 1 0 1 1 fill;
	border-image-width: pixels(1) 0 pixels(1) pixels(1);
	width: pixels(650);
	height: pixels(3);
}