@use '../../../utilities/utility-layout' as *;
@use '../theme';


.highlight-row {
	position: relative;
	padding: pixels(6);
	border: pixels(2) solid transparent;
	min-height: pixels(64);
}

.highlight-row:hover,
.highlight-row:focus-within {
	&::before {
		opacity: 1;
	}
}

.highlight-row::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	pointer-events: none;
	opacity: 0;
	background: linear-gradient(to right, rgba(135, 93, 47, 1) 0%, rgba(135, 93, 47, .5) 20%, rgba(135, 93, 47, 0) 30%, rgba(135, 93, 47, 0) 100%);
	border-image-source: url("fs://game/hud_list-focus_frame.png");
	border-image-slice: 24 32 24 32 fill;
	border-image-outset: pixels(7);
	border-image-width: pixels(24) pixels(32) pixels(24) pixels(32);
	transition: opacity theme.$transition-duration-default;
}