@use '../../../utilities/utility-layout' as *;
@use '../../../utilities/utility-text' as *;

/** Icon *********************************************************************/
fxs-icon {
	width: inherit;
	height: inherit;
	pointer-events: none;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}