@use '../../../utilities/utility-layout' as *;
@use '../../../../../core/ui/themes/default/theme';

.fxs-inner-frame {
	background: linear-gradient(180deg, rgba(5, 7, 13, 0.4) 0%, rgba(5, 7, 13, 0.2) 50.5%, rgba(5, 7, 13, 0.35) 100%);
}

.fxs-inner-frame-darker {
	background: linear-gradient(to bottom, theme.color('primary-4', .9), theme.color('primary-5', .8));
}

.fxs-inner-frame-opaque {
	background: linear-gradient(to bottom, theme.color('primary-4', 1), theme.color('primary-5', 1));
}