@use 'sass:math';
@use 'sass:string';
@use '../theme';
@use "../baseColors" as baseColors;
@use '../../../utilities/utility-layout' as *;
@use '../../../utilities/utility-text' as *;

/** Generic ornamentation *********************************************************************/

fxs-ornament1 {
	display: flex;
	width: 100%;
	height: 3em;

	.ornamentcontainer {
		position: relative;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.ornament {
		border-width: pixels(0) pixels(15);

		border-image-source: url('fs://game/core/ui/themes/default/img/Ornament_centerCurves_half.png');
		border-image-repeat: stretch;
		border-image-width: 0 pixels(100) 0 pixels(30);
		border-image-slice: 0 100 0 30 fill;

		min-height: pixels(10);
		filter: fxs-color-mask(baseColors.$accent-color);
	}

	.left {
		@extend .ornament;
		width: 50%;
		height: 100%;
	}

	.right {
		@extend .ornament;
		width: 50%;
		height: 100%;
		transform: scaleX(-1);
		position: absolute;
		right: 0;
	}
}

fxs-ornament2 {
	display: flex;
	align-items: center;
	width: 100%;
	height: 1em;
}

fxs-ornament3 {
	display: flex;
	width: 100%;
	height: pixels(4);
	min-height: pixels(50);
	background-image: url("fs://game/core/ui/themes/default/img/shell_line-divider.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.fxs-ornament-left-divider {
	width: 100%;
	border-image-source: url('fs://game/core/ui/themes/default/img/Ornament_leftDivider_header.png');
	border-image-repeat: stretch;
	border-image-width: 0 pixels(20) 0 pixels(20);
	border-image-slice: 0 20 0 15 fill;

	min-height: pixels(32);
	bottom: pixels(0);
}