@use 'sass:math';
@use 'sass:string';
@use '../theme';
@use '../../../utilities/utility-layout' as *;
@use '../../../utilities/utility-text' as *;

.fxs-scrollbar__track--vertical {
	border-image-source: url('fs://game/base_scrollbar-track.png');
	border-image-slice: 30 15 30 1 fill;
	border-image-width: pixels(30) pixels(15) pixels(30) pixels(1);
	border-image-outset: pixels(28) pixels(0);
}

.fxs-scrollbar__thumb--vertical {
	position: relative;
	top: pixels(0);
	cursor: pointer;
	pointer-events: auto;

	&:hover {
		.fxs-scrollbar__thumb-bg-highlight--vertical {
			opacity: .875;
		}
	}

	&:active {
		.fxs-scrollbar__thumb-bg-active--vertical {
			opacity: 1;
		}

		&:hover {
			.fxs-scrollbar__thumb-bg-highlight--vertical {
				opacity: .375;
			}
		}
	}
}

.fxs-scrollbar__thumb-bg--vertical {
	border-image-source: url('fs://game/base_scrollbar-handle.png');
	border-image-slice: 12 15 12 1 fill;
	border-image-width: pixels(12) pixels(15) pixels(12) pixels(1);
}

.fxs-scrollbar__thumb-bg-highlight--vertical {
	opacity: 0;
	border-image-source: url('fs://game/base_scrollbar-handle-focus.png');
	border-image-slice: 12 15 12 1 fill;
	border-image-width: pixels(12) pixels(15) pixels(12) pixels(1);
	transition-property: opacity;
	transition-duration: .125s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.fxs-scrollbar__thumb-bg-active--vertical {
	opacity: 0;
	border-image-source: url('fs://game/base_scrollbar-handle-focus.png'); // TODO: Use a separate image for active state
	border-image-slice: 12 15 12 1 fill;
	border-image-width: pixels(12) pixels(15) pixels(12) pixels(1);
	transition-property: opacity;
	transition-duration: .125s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.fxs-scrollbar__track--horizontal {
	border-image-source: url('fs://game/base_scrollbar-track_h.png');
	border-image-slice: 1 30 15 30 fill;
	border-image-width: pixels(1) pixels(30) pixels(15) pixels(30);
	border-image-outset: pixels(0) pixels(28);
	height: pixels(14);
}

.fxs-scrollbar__thumb--horizontal {
	position: relative;
	left: pixels(0);
	cursor: pointer;
	pointer-events: auto;
	min-height: pixels(16);

	&:hover {
		.fxs-scrollbar__thumb-bg-highlight--horizontal {
			opacity: .875;
		}
	}

	&:active {
		.fxs-scrollbar__thumb-bg-active--horizontal {
			opacity: 1;
		}

		&:hover {
			.fxs-scrollbar__thumb-bg-highlight--horizontal {
				opacity: .375;
			}
		}
	}
}

.fxs-scrollbar__thumb-bg--horizontal {
	border-image-source: url('fs://game/base_scrollbar-handle_h.png');
	border-image-slice: 1 12 15 12 fill;
	border-image-width: pixels(1) pixels(12) pixels(15) pixels(12);
}

.fxs-scrollbar__thumb-bg-highlight--horizontal {
	opacity: 0;
	border-image-source: url('fs://game/base_scrollbar-handle-focus_h.png');
	border-image-slice: 1 12 15 12 fill;
	border-image-width: pixels(1) pixels(12) pixels(15) pixels(12);
	transition-property: opacity;
	transition-duration: .125s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.fxs-scrollbar__thumb-bg-active--horizontal {
	opacity: 0;
	border-image-source: url('fs://game/base_scrollbar-handle-focus_h.png'); // TODO: Use a separate image for active state
	border-image-slice: 1 12 15 12 fill;
	border-image-width: pixels(1) pixels(12) pixels(15) pixels(12);
	transition-property: opacity;
	transition-duration: .125s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}