@use '../../../utilities/utility-layout' as *;
@use '../../../utilities/utility-text' as *;
@use '../baseColors';

.fxs-selector {
	&.disabled {
		opacity: .5;
	}

	&:focus {
		border-image: url("fs://game/hud_list-focus_frame.png");
		border-image-slice: 20 32 20 32 fill;
		border-image-width: pixels(20) pixels(32) pixels(20) pixels(32);
		border-image-outset: pixels(6) pixels(5);
	}
}

.fxs-selector-ornate {
	background-repeat: no-repeat;
	background-size: cover;

	min-height: pixels(112);

	.disabled {
		opacity: .5;
	}

	&:focus,
	&:hover {
		.fxs-selector-ornate-darkener {
			border-image: url("fs://game/hud_list-focus_frame.png");
			border-image-slice: 20 32 20 32 fill;
			border-image-width: pixels(20) pixels(32) pixels(20) pixels(32);
			border-image-outset: pixels(6) pixels(5);
		}
	}
}

.fxs-selector-ornate-darkener {
	border-image: url("fs://game/hud_sidepanel_list-bg.png");
	border-image-slice: 2;
	border-image-width: pixels(2);
	background-color: rgba(0, 0, 0, 0.5);
}