@use '../../../utilities/utility-layout' as *;
@use '../_theme';

.fxs-slider__thumb {
	background-image: url("fs://game/base_slider-thumb.png");
	margin-top: pixels(-3); //thumb isn't centered vertically
	background-size: cover;
}

//TODO: replace with a utility class
.fxs-slider__bar {
	border: pixels(1) solid theme.color('accent-4');
	background-color: theme.color('accent-5');
}

.fxs-slider__fill {
	background-color: #8D99A6; //TODO: replace with a utility class
}