@use '../../../utilities/utility-layout' as *;

.fxs-subsystem-frame {
	display: flex;
	position: relative;
	flex-direction: column;
	max-height: 100%;
	margin: pixels(16);

	.fxs-scrollbar-container {
		margin-right: pixels(12);
	}
}

.frame-top-curve {
	border-image-source: url("fs://game/hud_sidepanel_bg.png");
	border-image-slice: 128 64 64 64 fill;
	border-image-width: pixels(128) pixels(64) pixels(64) pixels(64);
	border-image-outset: pixels(12) pixels(12) pixels(24) pixels(12);
}

.frame-diplo {
	border-image-source: url("fs://game/dip_panel_bg");
	border-image-slice: 200 55 100 74 fill;
	border-image-outset: pixels(14) pixels(24) pixels(14) pixels(8);
	border-image-width: pixels(200) pixels(55) pixels(100) pixels(74);

	width: pixels(636);
}

.frame-box {
	border-image-source: url("fs://game/hud_squarepanel-bg.png");
	border-image-slice: 128 64 64 64 fill;
	border-image-width: pixels(128) pixels(64) pixels(64) pixels(64);
	border-image-outset: pixels(13) pixels(28) pixels(24) pixels(28);
}

.fxs-subsystem-frame__topbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	align-self: stretch;

	>.fxs-close-button {
		right: pixels(2);
		top: pixels(-12);
	}
}

.fxs-subsystem-frame__filigree {
	display: flex;
	flex-direction: row;
	margin-top: pixels(-32);
	min-width: pixels(384);
}

.fxs-subsystem-frame__filigree-simple {
	background-image: url("hud_paneltop-simple");
	background-size: cover;
}

.subsystem-frame__filigree-dip {
	background-image: url("fs://game/dip_header.png");
	height: pixels(220);
}

.subsystem-frame__diplo-tint {
	background-image: url("fs://game/dip_panel_tint_this.png");
	background-size: 100% auto;
	fxs-background-image-tint: var(--player-color-primary);
}