@use '../../utilities/utility-layout' as *;

.odr-download {
	.odr-download_banner-top {
		height: 13%;
	}

	.odr-download_banner-bot {
		height: 14%;
	}

	.img-report_port_glow {
		margin-top: -4%;
		width: 46%;
		height: 135%;
	}

	.img-rel_glow_larger {
		margin-bottom: -6%;
		width: 46%;
		height: 135%;
	}

	.odr-download_banner-middle {
		margin-top: -10%;
	}

	.odr-download_progress-bar-bg {
		height: pixels(26);
		background: url("blp:meter_well");
		background-repeat: repeat-x;
		background-size: contain;
	}

	.odr-download_progress-bar-fill {
		height: pixels(23);
		background: url("blp:meter_fill");
		background-size: contain;
	}

	.odr-download_banner-bot_text {
		margin-top: pixels(35);
	}

	.odr-download_progress-bar-filigree {
		margin-top: pixels(-17);
		width: 4000px;
		height: pixels(48);
		border-image-source: url('fs://game/base_advisor-filigree.png');
		border-image-slice: 0 110 fill;
		border-image-width: 0 48.8%;

		@media (max-height: pixels(768)) {
			border-image-width: 0 48.7%;
		}
	}
}