@use '../themes/default/theme' as *;
@use '../utilities/utility-layout' as *;
@use '../utilities/utility-text' as *;

.screen-profile-page {
	@media (max-height: pixels(1000)), (experience:mobile) {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}
	margin-top: pixels(100);
	margin-bottom: pixels(100);
	margin-left: pixels(46);
	margin-right: pixels(46);
}

.profile-main-frame {
	background: linear-gradient(color('primary-5'), color('primary-4'));

	border-style: solid;
	border-width: pixels(3);
	border-image: linear-gradient(to bottom, color('secondary-2'), color('secondary-3')) 1;

	@media (experience:mobile) {
		border-width: 0;
		background: none;
	}
	
	.img-frame-filigree {
		display: none;
		@media (experience:mobile) {
			display: block;
		}
	}
	.fxs-close-button {
		@media (experience:mobile) {
			top: pixels(52);
			right: pixels(38);
		}
	}
}

.profile-width-200 {
	width: pixels(200);
}

.profile-main-tab-left-shift {
	@media (max-width: pixels(1919)) {
		left: pixels(-200);
	}
}

.profile-main-tab {
	width: pixels(750);
}

.profile-gradient-box {
	background: linear-gradient(color('primary-5'), color('primary-4'));

	border-style: solid;
	border-width: pixels(3);
	border-image: linear-gradient(to bottom, color('secondary-2'), color('secondary-3')) 1;
}

.profile-leader-laurels {
	background-image: url("fs://game/popup_laurels.png");
}

.profile-leader-button {

	&:hover,
	&:focus,
	&.focused {

		.profile-leader-button-image {
			background-image: url("fs://game/shell_base-ring-focus.png");
			background-size: cover;
			background-repeat: no-repeat;
			transform: scale(1.1);
		}
	}
}

.profile-leader-button-selected {
	.profile-leader-button-ring-selected {
		display: flex;
	}
}

.profile-leader-button-image {
	background-image: url("fs://game/shell_base-ring.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-width: pixels(128);
	min-height: pixels(128);
}

.profile-leader-icon-locked {
	filter: grayscale(1);
}


.profile-progress-list-item {
	min-height: pixels(113);

	border-image: url("fs://game/hud_sidepanel_list-bg.png");
	border-image-slice: 8 8 8 8 fill;
	border-image-width: pixels(8);

	&:hover,
	&:focus {
		border-image: url("fs://game/hud_list-focus_frame.png");
		border-image-slice: 20 32 20 32;
		border-image-width: pixels(20) pixels(32);
		border-image-outset: pixels(6) pixels(5);
		background: linear-gradient(90deg, color('secondary-3') 0%, color('accent-6', .5) 100%);
	}

	&.chooser-item_selected {

		.chooser-item_selected-border {
			display: flex;
		}

		&:hover,
		&:focus {
			border-image: url("fs://game/hud_list-focus_frame.png");
			border-image-slice: 20 32 20 32;
			border-image-width: pixels(20) pixels(32);
			border-image-outset: pixels(6) pixels(5);
			background: linear-gradient(90deg, color('secondary-3') 0%, color('accent-6', .5) 100%);

		}
	}

}

.profile-badge-row {
	@media (max-width: pixels(1919)) {
		width: pixels(430);
	}

	width: pixels(560);
}

.profile-progress-left {
	@media (max-height: pixels(1000)) {
		height: pixels(676);
	}

	@media (max-width: pixels(1919)) {
		width: pixels(486);
	}

	width: pixels(640);
}

.profile-progress-left-scrollable {
	@media (max-height: pixels(1000)) {
		height: pixels(660);
	}

	@media (max-height: pixels(899)) {
		height: pixels(460);
	}

	@media (max-width: pixels(1919)) {
		width: pixels(446);
	}


	width: pixels(596);
}


.profile-leader-button-ring-selected {
	background-image: url("fs://game/shell_base-ring-selected.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-width: pixels(142);
	min-height: pixels(142);
	display: none;
}

.profile-leader-button-level-circle {
	background-image: url("fs://game/shell_number-circle.png");
	line-height: pixels(32);
}

.profile-customize-markall {
	@media (max-height: pixels(1000)) {
		margin-top: pixels(-280);
	}

	@media (max-height: pixels(899)) {
		margin-top: pixels(-480);
	}

	@media (max-width: pixels(1919)) {
		margin-left: pixels(216);
	}

	margin-top: pixels(16);
}

.profile-customize-badge-title {
	overflow-wrap: break-word;
}

.profile-customize-badges-outline-left {
	@media (min-width: pixels(1280)) {
		// Fits 5 columns
		width: pixels(650);
	}

	@media (min-width: pixels(1440)) {
		// Fits 6 columns
		width: pixels(760);
	}

	@media (min-width: pixels(1600)) {
		// Fits 7 columns
		width: pixels(890);
	}
}

.profile-customize-banners-banner {
	width: 40vw;
	height: 12vh;
	margin-bottom: 1vh;
	background-image: url("fs://game/backg_base_01");
	background-size: cover;
	background-repeat: no-repeat;
}

.profile-customize-highlight {
	background: linear-gradient(90deg, color('secondary-3') 0%, color('accent-6', .5) 100%);
	display: none;
}

.profile-w-100 {
	width: pixels(400);
}

.profile-customize-container {
	margin: pixels(4);

	&:hover,
	&:focus {
		.profile-customize-highlight {
			display: flex;
		}
	}
}

.profile-customize-select {
	border-image: url("fs://game/hud_list-focus_frame.png");
	border-image-slice: 20 32 20 32;
	border-image-width: pixels(20) pixels(32);
	border-image-outset: pixels(6) pixels(5);
	display: none;
}

.profile-customize-color-bg {
	background-image: url('fs://game/prof_btn_bk.png');
	background-size: cover;
	background-repeat: no-repeat;
	border-color: rgb(127, 129, 135);
	border-style: solid;
	border-width: pixels(0) pixels(0) pixels(6) pixels(0);
}

.profile-half-divider {
	background-image: url('fs://game/prof_div_1.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.profile-full-divider {
	background-image: url('fs://game/prof_div_full');
	background-size: cover;
	background-repeat: no-repeat;
}

.profile-customize-new-icon {
	display: none;
}

.profile-customize-locked-icon {
	display: none;
}

.profile-customize-new {
	.profile-customize-new-icon {
		display: flex;
	}
}

.profile-customize-locked {
	.profile-customize-locked-icon {
		display: flex;
	}
}

.profile-customize-selected {
	.profile-customize-select {
		display: flex;
	}
}

.profile-customize-title-bg {
	border-image: url("fs://game/hud_sidepanel_list-bg.png");
	border-image-slice: 8 8 8 8 fill;
	border-image-width: pixels(8);
}

.profile-challenges-frame {
	@media (max-width: pixels(1919)) {
		width: pixels(1260);
	}

	width: pixels(1500);
}

.profile-challenges-left-scrollable-container {
	@media (max-width: pixels(1919)) {
		width: pixels(490);
	}

	width: pixels(590);
}

.profile-challenges-left-scrollable {
	@media (max-width: pixels(1919)) {
		width: pixels(496);
	}

	width: pixels(570);
}


.profile-challenges-control-bar {
	max-width: pixels(1500);
}

.profile-challenges-sort-arrow {

	&:hover,
	&:focus {
		filter: brightness(200%);
	}
}

.profile-challenges-sort-text {
	&:focus {
		background-color: color("primary-2");
	}
}

.profile-challenges-outer-frame {
	width: 100%;
	height: 50vh;
}

.profile-challenges-left-column {
	display: flex;
	width: 30%;
}

.profile-challenges-right-column {
	display: flex;
	width: 68%;
	margin-left: pixels(32);
}

.profile-challenges-item-card {

	&:hover,
	&:focus {
		border-image: url("fs://game/hud_list-focus_frame.png");
		border-image-slice: 20 32 20 32;
		border-image-width: pixels(20) pixels(32);
		border-image-outset: pixels(6) pixels(5);
		background: linear-gradient(90deg, color('secondary-3') 0%, color('accent-6', .5) 100%);
	}
}

.profile-challenges-rcitem-outer {
	@media (max-width: pixels(1919)) {
		width: pixels(700);
	}

	width: pixels(857);
	min-height: pixels(64);
}

.profile-challenges-rcitem-text {
	@media (max-width: pixels(1919)) {
		width: pixels(480);
	}

	width: pixels(624);
}

.profile-hof-difficulty-sort {
	@media (max-width: pixels(1919)) {
		left: pixels(-240);
	}
}

.profile-hof-speed-sort {
	@media (max-width: pixels(1919)) {
		left: pixels(220);
	}
}

.profile-hof-left-sort-text {
	&:focus {
		background-color: color("primary-2");
	}
}

.profile-hof-right-sort-text {
	&:focus {
		background-color: color("primary-2");
	}
}

.profile-hof-general-gradient-box {
	@media (max-height: pixels(1000)) {
		height: pixels(700);
	}

	@media (max-height: pixels(899)) {
		height: pixels(500);
	}

	@media (max-width: pixels(1919)) {
		width: pixels(1200);
	}

	width: pixels(1700);
	height: pixels(650);
}

.profile-hof-general-scrollable {
	@media (max-height: pixels(1000)) {
		height: pixels(680);
	}

	@media (max-height: pixels(899)) {
		height: pixels(480);
	}

	@media (max-width: pixels(1919)) {
		width: pixels(1180);
	}

	width: pixels(1680);
}

.profile-hof-general-half-inner-frame {
	@media (max-width: pixels(1919)) {
		margin-left: pixels(32);
		width: pixels(1100);
	}

	width: pixels(1500);
}

.profile-hof-general-half-content {
	width: pixels(500);
}

.profile-hof-general-completion {

	&:focus,
	&:hover {
		background-color: color("primary-2");
	}
}

.profile-hof-general-full-outer {

	&:focus,
	&:hover {
		background-color: color("primary-2");
	}
}

.profile-hof-general-nameplace {
	@media (max-width: pixels(1919)) {
		width: pixels(420);
	}
}

.profile-hof-leaders-main-hslot {
	@media (max-height: pixels(1000)) {
		top: pixels(70);
	}
}

.profile-hof-civs-left {
	@media (max-height: pixels(1000)) {
		height: pixels(670);
	}

	@media (max-height: pixels(899)) {
		height: pixels(470);
	}

	@media (max-width: pixels(1919)) {
		width: pixels(580);
	}
}

.profile-hof-civs-left-scrollable {
	@media (max-height: pixels(1000)) {
		height: pixels(560);
	}

	@media (max-height: pixels(899)) {
		height: pixels(360);
	}
}

.profile-hof-age-select {
	@media (max-height: pixels(1000)) {
		margin-top: pixels(8);
	}
}

.profile-hof-civ-buttons {
	@media (max-width: pixels(1919)) {
		margin-left: pixels(18);
		margin-right: pixels(18);
	}
}

.profile-hof-civ-main-hslot {
	@media (max-height: pixels(1000)) {
		top: pixels(70);
	}
}

.profile-hof-history-scrollable {
	@media (max-height: pixels(1000)) {
		height: pixels(660);
	}

	@media (max-height: pixels(899)) {
		height: pixels(460);
	}

	@media (max-width: pixels(1919)) {
		width: pixels(1180);
	}

	width: pixels(1800);
	height: pixels(780);
}

.profile-hof-history-card {

	&:focus,
	&:hover {
		background-color: color("primary-2");
	}
}

.profile-hof-history-gamecol {
	@media (max-width: pixels(1919)) {
		width: pixels(48);
	}

	width: pixels(128);
}

.profile-hof-history-portraitcol {
	@media (max-width: pixels(1919)) {
		width: pixels(64);
	}

	width: pixels(96);
}

.profile-hof-history-civiconcol {
	@media (max-width: pixels(1919)) {
		width: pixels(80);
	}

	width: pixels(96);
}

.profile-hof-history-leadercivcol {
	@media (max-width: pixels(1919)) {
		width: pixels(200);
	}

	width: pixels(400);
}

.profile-hof-history-agecol {
	width: pixels(140);
}

.profile-hof-history-datecol {
	width: pixels(200);
}

.profile-leaderboards-control-strip {
	margin-bottom: pixels(16);
	align-self: center;
}

.profile-leaderboard-outer-box {
	pointer-events: none;
	position: relative;
	flex-wrap: nowrap;
	flex-direction: row;
	display: flex;
	width: 100%;
	height: auto;
	border-style: none;

	.leaderboard-position-box {
		display: flex;
		width: 16%;
		align-items: center;
	}

	.leaderboard-name-box {
		display: flex;
		width: 20%;
		align-items: center;
	}

	.leaderboard-score-box {
		display: flex;
		width: 16%;
		align-items: center;
	}

	.leaderboard-date-box {
		display: flex;
		width: 16%;
		align-items: center;
	}

	.leaderboard-leader-box {
		display: flex;
		width: 16%;
		align-items: center;
	}

	.leaderboard-civ-box {
		display: flex;
		width: 16%;
		align-items: center;
	}

	.leaderboard-text {
		font-size: pixels-font(20);
	}

	.leaderboard-name-text {
		font-size: pixels-font(20);
		width: 75%;
		overflow: hidden;
	}
}

.profile-leaderboard-outer-box-item {
	height: 10vh;
	border-style: solid;
	border-width: pixels(1);
	border-color: color('primary');

	&:focus {
		background-color: color('accent');
	}
}

.profile-reward-right-item {
	@media (max-width: pixels(1919)) {
		width: pixels(420);
	}

	width: pixels(588);
}