@use 'sass:color';
@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/themes/default/theme';

.unit-promotion-panel {
	min-width: pixels(896);
	max-width: pixels(960);
	min-height: pixels(792);
}

.promotion-header__lines {
	background-image: url("fs://game/core/cPromo_header.png");
}

.promotion-header__icon {
	background-image: url("fs://game/core/cPromo_header_icon.png");
}

.experience-ring {
	background-image: url("fs://game/cPromo_level_circle.png");
	background-size: cover;

	.experience-level {
		color: theme.color("accent-2");
	}

	.fxs-ring-meter__ring-left,
	.fxs-ring-meter__ring-right {
		background-image: url("fs://game/cPromo_level_circle_rad.png");
	}

	.fxs-ring-meter__ring-left {
		background-size: cover;
		background-position: left;
	}

	.fxs-ring-meter__ring-right {
		background-size: cover;
		background-position: right;
	}
}

.promotion-progress__commendations,
.promotion-progress__points {
	border: pixels(1.4) solid theme.color("primary-1");
	border-radius: 50%;

	&.active-num {
		border: pixels(1.4) solid theme.color("secondary-1");
	}
}

.lines-container {
	background-image: var(--panel__bg);
	background-color: theme.color("primary-3", 0.1);

	.center-split,
	.bottom-split,
	.top-split {
		transform: rotateZ(0deg);
		transform-origin: top left;
		position: absolute;
		width: inherit;
	}

	.center-split {
		transform: rotateZ(90deg);
	}

	.card-line {
		background-color: theme.color("secondary-1");

		.center-split,
		.bottom-split,
		.top-split {
			background-color: theme.color("secondary-1");
		}
	}

	.card-line.locked {

		.center-split,
		.bottom-split,
		.top-split {
			background-color: theme.color("primary-2");
		}
	}
}

.promotion-element {

	.promotion-element__selected,
	.promotion-element__outline,
	.promotion-element__icon,
	.promotion-element__locked,
	.promotion-element__hover {
		position: absolute;
		background-repeat: no-repeat;
		pointer-events: none;
		background-size: contain;
	}

	.promotion-element__selected {
		background-image: url("fs://game/core/cPromo_promo_selected.png");
		background-position: 51% 45%;
		opacity: 0;
	}

	.promotion-element__outline {
		width: 80%;
		height: 80%;
		background-image: url("fs://game/core/cPromo_promo_available.png");
		background-position: 51% 45%;
		opacity: 0;
	}

	.promotion-element__icon {
		width: 75%;
		height: 75%;
		filter: grayscale(1) brightness(0.4);
	}

	.promotion-element__locked {
		width: 40%;
		background-image: url("fs://game/icon_locked.png");
		background-size: 100%;
		opacity: 1;
		filter: fxs-color-mask(theme.color("primary-3"));
	}

	.promotion-element__hover {
		background-image: url("fs://game/core/cPromo_hover_state.png");
		opacity: 0;
	}

	&.promotion-bastion {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_bastion.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_bastion_done.png");
			}
		}
	}

	&.promotion-assault {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_assault.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_assault_done.png");
			}
		}
	}

	&.promotion-logistics {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_logistics.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_logistics_done.png");
			}
		}
	}

	&.promotion-maneuver {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_manuver.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_manuver_done.png");
			}
		}
	}

	&.promotion-leadership {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_leadership.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_leadership_done.png");
			}
		}
	}

	&.promotion-bombardment {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_bombardment.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_bombardment_done.png");
			}
		}
	}

	&.promotion-engagement {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_engagement.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_engagement_done.png");
			}
		}
	}

	&.promotion-dogfighting {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_dogfighting.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_dogfighting_done.png");
			}
		}
	}

	&.promotion-raids {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_raids.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_raids_done.png");
			}
		}
	}

	&.promotion-airlift-operations {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_airflift_operations.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_airflift_operations_done.png");
			}
		}
	}

	&.promotion-carrier-operations {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_carrier_operations.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_carrier_operations_done.png");
			}
		}
	}

	&.promotion-trung-nhi {
		.promotion-element__icon {
			background-image: url("fs://game/core/cPromo_trung_nhi.png");
		}

		&.earned,
		&.selected {
			.promotion-element__icon {
				background-image: url("fs://game/core/cPromo_trung_nhi_done.png");
			}
		}
	}

	&:hover,
	&:focus {
		.promotion-element__hover {
			opacity: 1;
		}
	}

	&.available {
		.promotion-element__icon {
			filter: grayscale(0) brightness(0.4);
		}

		.promotion-element__outline {
			opacity: 1;
		}

		.promotion-element__locked {
			opacity: 0;
		}
	}

	&.selected {
		.promotion-element__icon {
			filter: grayscale(0) brightness(1);
		}

		.promotion-element__selected {
			opacity: 1;
		}

		.promotion-element__outline {
			opacity: 0;
		}
	}

	&.earned {
		.promotion-element__icon {
			filter: grayscale(0) brightness(1);
		}

		.promotion-element__locked {
			opacity: 0;
		}
	}
}

.commendation-element {

	.commendation-element__icon,
	.commendation-element__outline,
	.commendation-element__glow {
		position: absolute;
		background-repeat: no-repeat;
		background-size: 120% 120%;
		background-position-x: 50%;
		background-position-y: 50%;
		pointer-events: none;
	}

	.commendation-element__icon {
		background-image: url("fs://game/cPromo_commendation.png");
		filter: grayscale(1);
		opacity: 0.4;
	}

	.commendation-element__outline {
		height: 95%;
		background-image: url("fs://game/cPromo_commendation_available.png");
		opacity: 0;
	}

	.commendation-element__glow {
		width: 150%;
		height: 200%;
		background-image: url("fs://game/cPromo_commendation_selected.png");
		opacity: 0;
	}

	&:hover,
	&:focus {
		transform: scale(1.05);
	}

	&.available {
		.commendation-element__outline {
			opacity: 1;
		}
	}

	&.selected {
		.commendation-element__icon {
			filter: grayscale(0);
			opacity: 1;
		}

		.commendation-element__glow {
			opacity: 1;
		}
	}

	&.earned {
		.commendation-element__icon {
			filter: grayscale(0);
			opacity: 1;
		}

		.commendation-element__outline {
			opacity: 1;
		}
	}
}

@media (max-width: pixels(1366)) {
	.unit-promotion-panel {
		min-height: pixels(530);
		max-width: pixels(800);
		min-width: inherit;

		.promotion-header__icon {
			width: pixels(96);
			height: pixels(96);
			bottom: pixels(0);
		}

		.header-container {
			position: relative;
			left: pixels(0);
			top: pixels(0);
			transform: none;
		}

		fxs-scrollable {
			max-height: pixels(460);
		}
	}
}

@media (experience: mobile) {
	.unit-promotion-panel {
		flex: 1 1 auto;
		min-height: auto;
		margin-top: pixels(160);
		margin-bottom: pixels(100);
		margin-left: pixels(16);

		@media (max-height: pixels(1000)) {
			margin-top: pixels(100);
			margin-left: pixels(10);
			margin-bottom: 0;
		}
	}
}