@use '../../../core/ui/utilities/utility-layout' as *;

.advisor-carousel__bg-gradient {
	// TODO need to get bg asset for this
	background: linear-gradient(180deg, rgba(5, 7, 13, 0.4) 0%, rgba(5, 7, 13, 0.2) 50.5%, rgba(5, 7, 13, 0.35) 100%);
}

.advisor-carousel__border-bar {
	border-image: url("fs://game/hud_section-line.png");
	border-image-slice: 4 32 0 32 fill;
	border-image-width: auto;
	border-image-outset: pixels(0) pixels(6);
	border-image-repeat: stretch;

	&.bottom {
		transform: scaleY(-1);
	}
}

.advisor-portrait {
	border-image-source: url("fs://game/hud_unit-panel_box-bg");
	border-image-slice: 18 14 18 14 fill;
	border-image-width: 0;
	border-image-outset: 17 13 17 13;

	@media(max-height: pixels(1000)) {
		width: pixels(130);
		height: pixels(130);
		margin-top: pixels(25);
	}
}

.advisor-filigree {
	width: pixels(186);
	right: pixels(-13);
	bottom: pixels(-22);

	@media(max-height: pixels(1000)) {
		width: pixels(150);
		height: pixels(30);
		bottom: pixels(-17);
		right: pixels(-10);
	}
}

.advisor-victory-carousel {
	width: pixels(950);

	@media(max-height: pixels(1000)) {
		width: pixels(625);
		height: pixels(250);
		top: pixels(-20);
		margin-left: pixels(0);
	}

	@media (experience: mobile) {
		width: 55%;

		@media (max-height: pixels(1000)) {
			width: 50%;
		}
	}
}

.advisor-carousel__content-container {
	@media(max-height: pixels(1000)) {
		height: pixels(180);
	}
}

.advisor-carousel__advisor-text-bg {
	background: linear-gradient(180deg, rgba(5, 7, 13, 0.4) 0%, rgba(5, 7, 13, 0.2) 50.5%, rgba(5, 7, 13, 0.35) 100%);
}

.local-player {
	border-radius: pixels(24);
}

.advisor-panel_top {
	@media (experience: mobile) and (max-height: pixels(1000)) {
		margin-top: pixels(40);
	}
}

.advisor-panel__progress-bar {
	width: pixels(1250);
	height: pixels(30);

	@media(max-height: pixels(1000)) {
		width: pixels(950);
	}

	@media (experience: mobile) {
		width: pixels(1180);

		@media (max-height: pixels(1000)) {
			width: pixels(1050);
		}
	}
}

.advisor-panel__darkage-bar {
	// Makes it easy to adjust the scale of it 
	left: -4%;

	@media(max-height: pixels(1000)), (experience: mobile) {
		left: 0;
		height: pixels(40);
		top: pixels(-37);
	}
}

.advisor-panel__reward-wrapper {
	top: pixels(-123);
}

.advisor-panel__reward-holder {
	width: pixels(77);
	height: pixels(123);

	@media(max-height: pixels(1000)) {
		width: pixels(48);
		height: pixels(77);
		top: pixels(50);
	}
}

.advisor-panel__reward-icon {
	@media(max-height: pixels(1000)) {
		width: pixels(48);
		height: pixels(48);
		left: pixels(0);
		top: pixels(0);
	}
}

.advisor-panel__additional-rewards {
	@media(max-height: pixels(1000)) {
		height: pixels(40);
		margin-top: pixels(10);
	}
}

.advisor-panel__darkage-icon {
	top: pixels(-123);

	@media(max-height: pixels(1000)) {
		width: pixels(48);
		height: pixels(48);
		left: pixels(-24);
		top: pixels(-75);
	}

	@media (experience: mobile) and (min-height: pixels(1000)) {
		left: pixels(-35);
    	top: pixels(-120);
	}
}

.advisor-panel__victory-icon {
	height: pixels(176);
	top: pixels(-52);
	left: pixels(-50);

	@media(max-height: pixels(1000)) {
		height: pixels(110);
		width: pixels(110);
		left: pixels(-30);
		top: pixels(-31);
	}
}

.advisor-panel__golden-icon-advisor_science {
	height: pixels(176);
	top: pixels(-37);
	left: pixels(-53);

	@media(max-height: pixels(1000)) {
		height: pixels(113);
		width: pixels(113);
		left: pixels(-34);
		top: pixels(-24);
	}
}

.advisor-panel__golden-icon-advisor_military,
.advisor-panel__golden-icon-advisor_culture {
	height: pixels(190);
	top: pixels(-55);
	left: pixels(-50);

	@media(max-height: pixels(1000)) {
		height: pixels(126);
		width: pixels(109);
		left: pixels(-31);
		top: pixels(-38);
	}
}

.advisor-panel__golden-icon-advisor_economic {
	height: pixels(160);
	top: pixels(-57);
	left: pixels(-50);

	@media(max-height: pixels(1000)) {
		height: pixels(107);
		width: pixels(111);
		left: pixels(-32);
		top: pixels(-40);
	}
}

.advisor-panel__title {
	@media(max-height: pixels(1000)) {
		width: pixels(575);
		margin-left: pixels(-15);
		margin-right: pixels(20);
	}

	@media (experience: mobile) {
		width: 45%;
	}
}

.advisor-panel__victory-icon-wrapper {
	@media(max-height: pixels(1000)) {
		height: pixels(45);
		justify-content: center;
	}
}

.advisor-panel__progressbar-legend {
	@media(max-height: pixels(1000)) {
		width: pixels(147);
		height: pixels(45);
		margin-left: pixels(-18);
	}

	@media (experience: mobile) {
		width: auto;
		height: auto;
		max-width: pixels(160);
		margin-top: pixels(-46);
		margin-left: pixels(-70);

		@media (max-height: pixels(1000)) {
			margin-top: pixels(65);
			margin-left: 0;
		}
	}
}

.advisor-panel__progress-rewards {
	@media (experience: mobile) {
		min-height: pixels(86);

		@media (max-height: pixels(1000)) {
			min-height: pixels(55);
		}
	}
}

.advisor-panel__progress-key {
	@media(max-height: pixels(1000)) {
		padding-top: pixels(35);
	}

	@media (experience: mobile) {
		padding-top: pixels(-12);

		@media(max-height: pixels(1000)) {
			padding-top: pixels(-38);
		}
	}
}

.advisor-panel__progress-bar-wrapper {
	@media(max-height: pixels(1000)) {
		padding-top: pixels(130);
	}

	@media (experience: mobile) {
		padding-left: pixels(40);
	}
}

.advisor-panel__pip {
	@media(max-height: pixels(1000)) {
		bottom: pixels(-9);
	}
}

.advisor-panel__reward-pip {
	@media (max-height: pixels(1000)) {
		width: pixels(20);
		height: pixels(35);
		bottom: pixels(-31);
	}

	@media (experience: mobile) {
		width: pixels(28);
		height: pixels(45);
		bottom: pixels(-46);

		@media (max-height: pixels(1000)) {
			width: pixels(25);
			height: pixels(36);
			bottom: pixels(-33);
		}
	}
}

.advisor-panel__last-reward {
	@media(max-height: pixels(1000)) {
		right: pixels(-22);
	}
}

.advisor-panel__victory-desc {
	@media(max-height: pixels(1000)) {
		left: pixels(55);
		top: pixels(75);
		white-space: pre-wrap;
	}
}

.advisor-panel__final-pip {
	@media(max-height: pixels(1000)) {
		width: pixels(27);
		height: pixels(40);
		bottom: pixels(-35);
		right: pixels(-11);
	}

	@media (experience: mobile) and (min-height: pixels(1000)) {
		width: pixels(44);
		height: pixels(64);
	}
}

.advisor-panel__age-progress {
	@media(max-height: pixels(1000)) {
		letter-spacing: pixels(0);
		bottom: pixels(-53);

		fxs-font-icon {
			margin: pixels(0) pixels(-6) pixels(0) pixels(-4);
		}
	}

	@media (experience: mobile) and (max-height: pixels(1000)) {
		bottom: pixels(-56);
	}
}

.advisor-panel__advisor-icon {
	@media(max-height: pixels(1000)) {
		height: pixels(200);
		width: pixels(200);
		margin-top: pixels(-86);
		margin-left: pixels(-145);
	}
}

.advisor-pane__portrait-wrapper {
	@media(max-height: pixels(1000)) {
		margin-top: pixels(-25);
		margin-left: pixels(34);
	}
}

.advisor-panel__icon-border {
	background-image: url("fs://game/adv_port_bk.png");
	background-size: cover;
	width: pixels(162);
	height: pixels(162);

	@media(max-height: pixels(1000)) {
		height: pixels(87);
		width: pixels(87);
	}
}


.advisor-panel__portrait {
	top: pixels(21);
	left: pixels(21);
	width: pixels(120);
	height: pixels(120);

	@media(max-height: pixels(1000)) {
		height: pixels(66.5);
		width: pixels(66.5);
		top: pixels(10);
		left: pixels(10);
	}
}

.advisor-panel__type-icon-bg {
	height: pixels(75);
	width: pixels(75);
	left: pixels(90);
	top: pixels(90);
	background-image: url("fs://game/adv_icon_bk.png");
	background-size: cover;

	@media(max-height: pixels(1000)) {
		height: pixels(52.5);
		width: pixels(52.5);
		left: pixels(48);
		top: pixels(48);
	}
}

.advisor-panel__type-icon {
	height: pixels(45);
	width: pixels(45);
	left: pixels(105);
	top: pixels(106);

	@media(max-height: pixels(1000)) {
		height: pixels(30);
		width: pixels(30);
		left: pixels(59);
		top: pixels(60);
	}
}

.advisor-panel_victory-title {
	@media(max-height: pixels(1000)) {
		margin-bottom: 0;
	}
}

// Width needs to be defined for the p created by data-l10n-id, so that the text centers correctly
.advisor-text p {
	width: 100%;
}

.advisor-panel_civilopedia-link {
	@media(max-height: pixels(1000)) {
		display: none;
	}
}

.advisor-panel__civilopedia {
	display: none;

	@media(max-height: pixels(1000)) {
		display: block;
	}
}