// Function for taking an RGB value and converting it into Coherent's coh-color-matrix
// Relies on the source image being WHITE
@use "sass:math";
@use "sass:color";

@function toMatrix($color) {
	$newR: math.div(color.red($color), 255);
	$newG: math.div(color.green($color), 255);
	$newB: math.div(color.blue($color), 255);
	$newValue: coh-color-matrix(#{$newR}, 0, 0, 0, 0, 0, #{$newG}, 0, 0, 0, 0, 0, #{$newB}, 0, 0, 0, 0, 0, 1, 0);
	@return $newValue;
}