@use 'utility-layout' as *;

$hex-shape: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%, 50% 0%);
$hex-icon-mask: polygon(0% 0%, 15% 35%, 15% 75%, 50% 95%, 85% 75%, 85% 35%, 100% 0%, 0% 0%);
$hex-flag-shape: polygon(50% 0%, 93.3% 25%, 93.3% 100%, 6.7% 100%, 6.7% 25%, 50% 0%);
$rect-inner-beveled: polygon(nonzero, 98% pixels(0), 98% 5%, 100% 5%, 100% 95%, 98% 95%, 98% 100%, 0% 100%, 0% 0%);