@use '../../../core/ui/utilities/utility-layout' as *;

.panel-place-population {
	@media (max-height: pixels(720)) {
		padding-top: pixels(4);
		padding-bottom: pixels(4);
	}

	@media (experience: mobile) {
		padding-top: pixels(40);
		padding-bottom: pixels(10);
	}
}

.panel-place-population_specialist-info {
	@media (max-height: pixels(720)) {
		margin-top: pixels(-8);
		padding-bottom: pixels(14);
	}
}

.panel-place-population_improvement-info,
.panel-place-population_specialist-info {
	@media (experience: mobile) {
		width: pixels(680);
		height: pixels(184);
		margin-top: pixels(16);
	}
}

.add-improvement-desc,
.add-specialists-desc {
	@media (experience: mobile) {
		max-width: pixels(575);
	}
}

.expand-icon {
	background-image: url("fs://game/cityleg_add.png");
}

.add-population-icon {
	background-image: url("fs://game/cityleg_specialist.png");
}

.repair-icon {
	background-image: url("fs://game/cityleg_repair.png");
}

.add_specialists_icon {
	background-image: url("fs://game/city_special_empty");
}

.improvement_add_icon {
	background-image: url("fs://game/city_add");
}