@use '../utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-shapes' as shapes;
@use '../themes/default/_baseColors.scss';
@use '../themes/default/_animations.scss';

.pp-leader-button {

	&:hover,
	&:focus,
	&.focused {

		.pp-leader-button-image {
			background-image: url("fs://game/shell_base-ring-focus.png");
			background-size: cover;
			background-repeat: no-repeat;
			transform: scale(1.1);
		}
	}
}

.pp-leader-button-image {
	background-image: url("fs://game/shell_base-ring.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.pp-leader-button-ring-selected {
	background-image: url("fs://game/shell_base-ring-selected.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-width: pixels(142);
	min-height: pixels(142);
	display: none;
}

.pp-leader-button-selected {
	.profile-leader-button-ring-selected {
		display: flex;
	}
}

.pp-leader-button-level-circle {
	background-image: url("fs://game/shell_number-circle.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-width: pixels(32);
	min-height: pixels(32);
	line-height: pixels(32);
}