@use '../../../core/ui/utilities/utility-layout' as *;
@use '../../../core/ui/utilities/utility-text' as *;
@use '../../../core/ui/themes/default/baseColors';
@use '../../../core/ui/themes/default/animations';

.cinematic-moment_quote-box {
	border-image: url("fs://game/modal_bg.png");
	border-image-slice: 32 100 64 100 fill;
	border-image-outset: pixels(5) pixels(16) pixels(26) pixels(16);
	border-image-width: pixels(32) pixels(100) pixels(64) pixels(100);
}

.cinematic-moment_quote-text-container {
	max-width: pixels(640);

	@media (max-height: pixels(1000)) {
		max-width: auto;
		width: 100%;
	}
}

.cinematic-moment_quote-marks {
	border-image: url("fs://game/base_quotes.png");
	border-image-slice: 23 fill;
	border-image-width: pixels(23);
}

.cinematic-moment_vignette {
	background-image: url("hud_wonder-top-vignette");
	height: 45%;
}

.cinematic-moment_quote-container {
	@media (max-height: pixels(1000)) {
		width: 100%;
	}
}