@use '../../../themes/default/theme' as *;
@use '../../../utilities/utility-layout' as *;
@use '../../../utilities/utility-text' as *;

.editor-calibrate-hdr__row {

	&:hover,
	&:focus-within {
		background: linear-gradient(to right, rgba(135, 93, 47, 1) 0%, rgba(135, 93, 47, .5) 20%, rgba(135, 93, 47, 0) 30%, rgba(135, 93, 47, 0) 100%);
		border-image-source: url("fs://game/hud_list-focus_frame.png");
		border-image-slice: 24 32 24 32 fill;
		border-image-outset: pixels(7);
		border-image-width: pixels(24) pixels(32) pixels(24) pixels(32);
	}
}

.editor-calibrate-hdr_main-content {
	@media (max-height: pixels(1000)) {
		padding: pixels(8);

		.editor-calibrate-hdr_frame {
			padding-top: pixels(24);
			padding-bottom: pixels(12);
		}

		.img-frame-filigree {
			margin-top: pixels(12);
		}
	}
}

.editor-calibrate-hdr-ui-panel {
	width: 35%;

	@media (max-height: pixels(1000)) {
		width: 48%;
		padding: pixels(20) pixels(20) pixels(0) pixels(6);

		.editor-calibrate-hdr-2nd-item {
			display: none;
		}
	}
}