@use '../../../core/ui/utilities/utility-layout' as *;

panel-age-progression-warning-popup {
	width: pixels(479);
}

.progress-warning__icon {
	border-image-source: url("blp:countdown_icon");
	border-image-slice: 11 11 11 11 fill;
	border-image-width: pixels(11);
	//TODO: Investigate why we need to add this to make the icon centered (as well as the mt-px in the html)
	margin-right: pixels(3);
}